In [1]:


a= 'bacdefghijklmnopqrst'

### indexing and slicing

In [2]:
a[:] #select all the letters

'bacdefghijklmnopqrst'

In [3]:
a[1:] #select letters from first to last

'acdefghijklmnopqrst'

In [4]:
#immutable
#a[0] = 'a'

In [5]:
#string concatination
a

'bacdefghijklmnopqrst'

In [6]:
b= a + ' hadhaih;o ah;o'
b

'bacdefghijklmnopqrst hadhaih;o ah;o'

In [7]:
b.split()

['bacdefghijklmnopqrst', 'hadhaih;o', 'ah;o']

In [8]:
b.upper()

'BACDEFGHIJKLMNOPQRST HADHAIH;O AH;O'

In [9]:

a[1:] #all the way to end

'acdefghijklmnopqrst'

In [10]:
a[:3] #first three letters

'bac'

In [11]:
#grab middle letter
a[3:6]

'def'

In [12]:
a[1:3]

'ac'

In [13]:
#subsection step size

a[::] #all the way beiging  to end

'bacdefghijklmnopqrst'

In [14]:
#jumps by 2
a[::2]

'bcegikmoqs'

In [15]:
a[::3]

'bdgjmps'

In [16]:
#include middle
a[2:7:2]

'ceg'

In [17]:
a

'bacdefghijklmnopqrst'

In [18]:
a[2::]

'cdefghijklmnopqrst'

In [19]:
a[::-1
 ]

'tsrqponmlkjihgfedcab'

In [20]:
a[:-1]#last letter will not include

'bacdefghijklmnopqrs'

In [21]:
c= ' this is my string and want to inject'

In [22]:
c.split('i') # split by letter i

[' th', 's ', 's my str', 'ng and want to ', 'nject']

In [23]:
#concatination
#.format method
# 'string here{}'.format('something 1', 'something 2')

In [24]:
print('this is a string{}'.format(' Inserted'))

this is a string Inserted

In [25]:
print("{},{},{}".format('fox', 'rox','mox'))

fox,rox,mox

In [26]:
print(" the {0}{0}{0}".format('fox', 'rox','mox'))

 the foxfoxfox

In [27]:
print("the {a} {c} {b}".format(a='fox', b='rox',c='mox'))

the fox mox rox

In [28]:
#repeatation with .format method

In [29]:
r = 1000/7
r

142.85714285714286

In [30]:
print('the result {f:1.2f}'.format(f=r))

the result 142.86

In [31]:
print('the result {f:1.4f}'.format(f=r))
                 # value:width.precision
                #decimal and round of 4 after decimal

the result 142.8571

In [32]:
name = 'ankit'
age = 26

In [33]:
print(f'i am {name} and my age is {age}' )
     # f string interpolation

i am ankit and my age is 26

In [34]:
ls= [1,2,3,4,5,56]
ls

[1, 2, 3, 4, 5, 56]

In [35]:
len(ls)

6

In [36]:
a= ['ank','sank', 'mank']

In [37]:
a

['ank', 'sank', 'mank']

In [38]:
a[1]

'sank'

In [39]:
a[1:]

['sank', 'mank']

In [40]:
b= a[::-1]

In [41]:
a+b

['ank', 'sank', 'mank', 'mank', 'sank', 'ank']

In [42]:
a[0] = 'ankit'

In [43]:
a

['ankit', 'sank', 'mank']

In [44]:
v= a.append('monk') #adding any value with append

In [45]:
v

In [46]:

e= a.pop() #remove last value

In [47]:
e

'monk'

In [48]:
a

['ankit', 'sank', 'mank']

In [49]:
a.pop(2)
#remove the with index

'mank'

In [50]:
a

['ankit', 'sank']

In [51]:
l=['a','b','c','d','e']
l1=[2,2,6,7,8,9,0,1,2,3,4,5,6]

In [52]:
l1.sort()
l1

[0, 1, 2, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9]

In [53]:
type(l1)

list

In [54]:
type(l)

list

In [55]:
l1.reverse() #revers sorting
l1

[9, 8, 7, 6, 6, 5, 4, 3, 2, 2, 2, 1, 0]

### dictionaries are unordered and cannot be sorted
# RETRIVE VALUE WITHOUT ITS  exact indexz location

#list objects retrived by location
ordered sequence

In [56]:
dictn= {'a':1,'b':3,"c":9}

In [57]:
dictn["a"]

1

In [58]:
dictn["c"]

9

In [59]:
dict= {'key':'value' } #are flexible and can contain any value like int float

In [60]:
dictq={'k1':123,'k2':[2,3,4,5],'k3':{'inside key':100}}

In [61]:
dictq["k2"]

[2, 3, 4, 5]

In [62]:
dictq["k3"]

{'inside key': 100}

In [63]:
dictq["k3"]["inside key"]

100

In [64]:
d={'k1':['a','b','c']}

In [65]:
d["k1"][2].upper() #CAN MAKE ANY operation

'C'

In [66]:
d

{'k1': ['a', 'b', 'c']}

In [67]:
d['k1']=[1,3,4,5]

In [68]:
d

{'k1': [1, 3, 4, 5]}

In [69]:
d.values

In [70]:
d['k1']='newvalue'
d

{'k1': 'newvalue'}

In [71]:
d={'k1':['a','b','c']}

In [72]:
d.keys()

dict_keys(['k1'])

In [73]:
d.values()

dict_values([['a', 'b', 'c']])

In [74]:
d.items() #TUPLE

dict_items([('k1', ['a', 'b', 'c'])])

### Dictionaries are mappings and do not retain order! If you do want the capabilities of a dictionary but you would like ordering as well, check out the ordereddict object lecture later on in the course!

### TUPLES
IMMUTABLE

ONCE AN ELEMENT ASSIGN inside tuple, it cannot be reassigned

In [75]:
t=(1,2,3,4)
list=[1,2,34,5]

In [76]:
type(t)

tuple

In [77]:
type(list)

list

In [78]:
t[1]

2

In [79]:
t[-1]

4

In [80]:
t.count('1')

0

In [81]:
t.index(3)

2

In [82]:
list

[1, 2, 34, 5]

In [83]:
list[2]=' new'

In [84]:
list

[1, 2, ' new', 5]

In [85]:
t[0]='new'

TypeError: 'tuple' object does not support item assignment

###  it is useul when you want to make sure the element dont get flipped reassigned later on it

##  sets
unordered colllection of unique elements
one represntative of same object

In [ ]:
mset= set()
mset

In [ ]:
mset.add(45)

In [ ]:
mset.add(145)
mset

In [ ]:
mset.add(45)
mset

In [ ]:
list

In [ ]:
set(list)

In [ ]:
a= [11,4,3,4,54,5,67,78,89,9,4,3,3,3,4,5,66,7]

In [ ]:
set(a) #only unique values

In [ ]:
set('mississippi')

In [ ]:
# true or false statement logic and control flow checking
True
type(True)

In [ ]:
20>50

In [ ]:
1==3

In [ ]:
1==1

In [ ]:
set([1,1,2,3]) #WILL  give output in curvy bracket

###  text file

In [ ]:
%%writefile myfile.txt
hello this is a txt file
this is practice one
# \ n represent new line

In [ ]:
#open file name
myfile = open("myfile.txt") 
myfile

In [ ]:
pwd

In [ ]:
myfile.read() #if press this will this gives you  empty string''

In [ ]:
myfile.seek(0)#to reset cursor

In [ ]:
a= myfile.read()

In [ ]:
a

In [ ]:
myfile.readlines()

In [ ]:
#TO READ FILE FROM OTHER COMPS my = open("c\\users\\")
#  my = open("c/users/home/file.txt)

In [ ]:
myfile.close()

In [ ]:
with open ('myfile.txt') as my_nw_file:
    contents=my_nw_file.read()

In [ ]:
contents

In [ ]:
with open ('myfile.txt' ,mode= 'r') as myfile:
    c= myfile.read()

In [ ]:
c

In [ ]:
with open ('myfile.txt' ,mode= 'w') as myfile:
    c= myfile.read()

In [ ]:
with open ('myfile.txt' ,mode= 'a') as myfile:
    c= myfile.read()

###  mode = 'r' - read only
    mode = 'w' write only (overwrite files or create new
    mode = 'r+' read and writing
    mode = 'a ' append only add on to files
    mode = 'w+' is writing and reading (opverwiting existing  file or creare new file

In [ ]:
%%writefile newfile.txt
one two three
four five
six seven

In [ ]:
with open ("newfile.txt", mode = 'r') as f:
    print(f.read())

In [ ]:
with open("newfile.txt", mode='a') as f:
    f.write('ten fifteen')

In [ ]:
with open ("newfile.txt", mode= 'r') as f:
    print(f.read())

In [ ]:
g= 'helllow'

In [ ]:
g[::-1]

In [ ]:
g[-1]

In [ ]:
g[5]

In [ ]:
[1]*5

In [ ]:
l= [1,2,3,[3,4,7,8, 'hello']]

In [ ]:
l

In [ ]:
l=[1,4,6,8,94,3,5]
sorted(l)

In [ ]:
k= {'k1':{"k2": 'this is wolld '}}

In [ ]:
q= {'k1':[{'new_ky':['this is depp', ['hello']]}]}

In [ ]:
q['k1']

In [ ]:
q['k1'][0]['new_ky'] #in order to get next value you need to piu
#put [0] index

In [ ]:
q['k1'][0]['new_ky'][1][0]

In [ ]:
o= {'k1':[1,2,{'k2':['this is hard',{'tough':[1,2,['hello']]}]}]}

In [ ]:
o

In [ ]:
o['k1']

In [ ]:
o['k1'][2]['k2'][1]['tough'][2][0]

####   we cannot sort dictionaries 
    
    ==  EQUAL
    !=  NOT EQUAL
    >
    <
    >= GREATER THAN EQUAL TO
    <= LESS THAN EQUAL TO

In [ ]:
l1= [1,2,[3,4]]
l2= [1,2,{'k1':4}]

#true or false
l1[2][0] >l2[2]['k1']

In [ ]:
l1[2][1] >= l2[2]['k1']

In [ ]:
l1[2][0] <l2[2]['k1']

In [ ]:
l1[2][0] == l2[2]

In [ ]:
l1[1] >= l2[1]

In [ ]:
l1[2][0] <= l2[0]

### CHANING COMAParisom operator with logical operator

    and
    or
    not

In [ ]:
1<2

In [ ]:
2<3 and 5<6

In [ ]:
2>3 or  5<6 3 # ONE IS TRUE THEN GIVES TRUE

In [ ]:
1==1

### not 1==1 #O OPPOSITE BOOLEAN

In [ ]:
400>500

In [ ]:
not 400>500

### CONTROL FLOW STATEMENT

### IF SOME_CONDITION
        EXECUTE SOME CODE
    ELIF SOME OTHER CONDITION:
        SOMETHING
    ELSE:
        THEN SOMTHING ELESE

In [ ]:
if  True:
    print('its true!')

In [ ]:
if 2>3:
    print ('its not true')

In [ ]:
h= False
if h:
    print('its false')
else:
    print('false')

In [ ]:
hungry= True
if hungry == True:
    print('feed me')
else:
    print('Im not hungry')

In [ ]:
hungry= False
if hungry == True:
    print('feed me')
else:
    print('Im not hungry')

In [ ]:
lo= 'bank'

if lo=='shop':
    print( 'cars shop')
    
else:
    print('its not a car shop')

In [ ]:
lo= 'bank'

if lo=='shop':
    print( 'cars shop')

elif lo == 'bank':
    print('its a bank')
elif lo== 'auto':
    print('its a auto shop')
else:
    print('its not a car shop')

In [ ]:
lo= 'shop'

if lo=='shop':
    print( ' it is a cars shop')

elif lo == 'bank':
    print('its a bank')
elif lo== 'auto':
    print('its a auto shop')
else:
    print('its not a car shop')

In [ ]:
name = 'sam'

if name == 'sam':
    print ('hey its my name')
elif name == 'joy':
    print('its joy')
else:
    print("someone")

In [ ]:
name = 'joy'

if name == 'sam':
    print ('hey its my name')
elif name == 'joy':
    print('its joy')
else:
    print("someone")

### for loops 
 for iterate over the object and we can perform any operation
 strings too
 list is also iterable
 
 my_iterable = [1,2,3]
 
     for item_name in my_iterable:
     print(item_name)

In [ ]:
lst= [1,2,3,4,5,6,7,8,9,10]

In [ ]:
 for num in lst:
        print(num) #num = numbers

In [ ]:
for i in lst:
        print(i)

In [ ]:
for  i in lst:
    print("this is ")

In [ ]:
for num in lst:
    
    if num % 2==0:
        print(num)
    else:
        print(f'odd no: {num}')

In [ ]:
lst_sum = 0
for i in lst:
    lst_sum = lst_sum + i
    
print(lst_sum) # outsside of loop

In [ ]:
lst_sum = 0
for i in lst:
    lst_sum = lst_sum + i
    
    print(lst_sum) # inside of forloop

In [ ]:
# strings are squence  can iteraqte each chars in that string

In [ ]:
mystring = 'hello world'
for i in mystring:
    print(i)

In [ ]:
lst_sum = 0
for _ in mystring:
    
    
    print(mystring)

In [ ]:
#tuple
tup= (1,2,3)
for i in tup:
    print(tup)

In [ ]:
tup= (1,2,3)
for i in tup:
    print(i)

In [ ]:
mylst= [(1,2),(3,4),(5,6),(7,8)]

In [ ]:
len(mylst)

In [ ]:
for i in mylst:
    print(i)

In [ ]:
for (a,b) in mylst:
    print(a)
    print(b) # this is called tuple unpacking of duplicate structure of items

In [ ]:
for a,b in mylst:
    print(a)
    print(b)

In [ ]:
for a,b in mylst:
    print(a)

In [ ]:
# dictionary
d= {'k1':1, 'k2':2,'k3':56}
for i in d:
    print(d)

In [ ]:
for i in d:
    print(i)

In [ ]:
for i in d.items():
    print(i)

In [ ]:
for  key,values in d.items():
    print(values)

In [ ]:
#in very large dictionaries no garanty is that we will get in order or sortred output

### while looop

while some boolean _condition:

    do something

else:
    
    do something

In [ ]:

x= 0 

while x<5:
    print (f' the values is :{x}')
    x= x+1

In [ ]:

x= 0 

while x<5:
    print (f' the values is :{x}')
    x += 1

In [ ]:

x= 0 

while x<5:
    print (f' the values is :{x}')
    x= x+1
    
else: 
    print('the current value less than 5')

In [ ]:
x= 0 

while x< 5:
    print (f' the values is :{x}')
    x= x+1
    
else: 
    print('the current value less than 5')

##  break - current closet enclosing loop

## continue - goes to top of the closet enclosing loop

## pass- does  nothing   at all

In [ ]:
x=[1,2,3]
for i in x:
    # comment

In [ ]:
x=[1,2,3]
for i in x:
    # comment
    pass

print('end of script')

In [ ]:
a= 'sammy'
for letter in a:
    
    print(letter)

In [ ]:
a= 'sammy'
for letter in a:
    if letter == 'a':
        continue
    print(letter)

In [ ]:
v= 'sammy'
for letter in v:
    if letter == 'a':
        break
    print(letter)

In [ ]:
x = 0 
while  x <5:
    print (x)
    x+=1

In [ ]:
x= 0
while x<5:
    
    if x ==3:
        break
    
    print(x)
    x= x+1

###  operators

In [ ]:
for i in range(10): # rnge operator
    print(i)

In [ ]:
for i in range(0,11,2):
    print(i)

In [ ]:
# generator
list(range(0,11,2))

In [ ]:
index_count=0
for i in 'abwfwhf':
    print('at index{} the letter is {}'.format(index_count, i))

    index_count +=1

In [ ]:
index_count=0
word = 'abcdef'

for i in word:
    print(word[index_count])
    index_count+=1

In [ ]:
#enumarate function can it can take in any iterable object and what it does it ist return
index_count=0
word = 'abcdef'

for i in  enumerate(word):
    print(i)

In [ ]:
index_count=0
word = 'abcdef'

for index, i in  enumerate(word):
    print(index)
    print(i)
    print("\n")

In [ ]:
#zip function
myls= [1,2,3,4,5]
m2= ['a','b','c']
zip(myls, m2)

In [ ]:
for i in zip(myls, m2):
    print(i)# the items  pair up  and match together  with tuples too

In [ ]:
#zip function
myls= [1,2,3,4,5]
m2= ['a','b','c']
m3= [500,5,66,69,78,54]
zip(myls, m2,m3)

In [ ]:
for i in zip(myls, m2, m3):
    print(i) # MATCH AND INGORE THE OTHER ITEm

In [ ]:
list(zip(m2,m3))

###  list comprehenstion

In [ ]:
l= 'hello'

In [ ]:
l1=[]

In [ ]:
for i in l:
    l1.append(i)

In [ ]:
l1

In [ ]:
l1= [i for i in l]

In [ ]:
l1

In [ ]:
mylist=  [x for x in 'word']

In [ ]:
mylist

In [ ]:
ls = [num for num in range(0,11)]

In [ ]:
ls

In [ ]:
l2= [num**2 for num in range(0,11)]
l2

In [ ]:
o= [x for x in range(0,11) if x%2==0]
o

In [ ]:
celcius= [0,10,20,35]
fahrenheit= [((9/5)* temp+32) for temp in celcius]
fahrenheit

####  nested loop

In [ ]:
li= []
for i in [1,54,78,9]:
    for y in [2,3,6,9]:
        li.append(i *y)
li

In [ ]:
lo= [x*y for x in [4,6,78] for y in [1,5,6]]
lo

### function
    
    def name_of_function(name):
    
    docstrings explains functions
    print()
    
naame_of_function

output

any

function allows us to create block ofcodes that can eaily executed many times without needing to constantly rewrite the entire code

In [ ]:
def name_function():
    print('hello')
name_function()

In [ ]:
help(name_function)

In [88]:
def name_function():
    '''
    docstrings : information about the function 
    input : name
    output:  hello
    '''
    print("hello")

name_function()
    
#future people need to understand yourfunction thats is why we need docstrings

hello

In [90]:
def say_hello(name):
    print('hello'+ name)
say_hello(' ankit')

hello ankit

In [93]:
def say_hello(name = ' name'): #default one 'name'
    print('hello'+ name)
say_hello()

hello name

In [95]:
def say_hello(name):
    return ('hello'+ name)
say_hello(' ankit')

'hello ankit'

In [97]:
def say_hello(name):
    return ('hello'+ name)
r = say_hello(' sanket')
r

'hello sanket'

In [102]:
def add(n1, n2):
    return n1+n2

In [105]:
a= add(20,30)
a

50

In [108]:
def dog(string):
    if "dog" in string:
        return True
    else:
        return False

dog('dog run away')

True

In [110]:
def dog(string):
    if "dog" in string:
        return True
    else:
        return False

dog('cat run away')

False

In [111]:
def dog(string):
    if "dog" in string.lower():
        return True
    else:
        return False

dog('Dog run away')

True

In [113]:
def dog (string):
    return 'dog' in string.lower()
dog('dog ran')

True

In [116]:
# pig latin

def pig(word):
    first_letter= word[0]
    # chekc if vovel 
    if first_letter in 'aeiou':
        pig_word=  word +'ay'
    else:
        pig_word = word[1:] +first_letter +'ay'
        
    return pig_word
pig('apple')

'appleay'

In [117]:
# pig latin

def pig(word):
    first_letter= word[0]
    # chekc if vovel 
    if first_letter in 'aeiou':
        pig_word=  word +'ay'
    else:
        pig_word = word[1:] +first_letter +'ay'
        
    return pig_word
pig('banana')

'ananabay'

In [121]:
def add(a,b,c,d,e):
    return a+b+c+d+e
add(8,2,3,0,7)

20

In [123]:
#Write a Python function to multiply all the numbers in a list.
def mul(q,w,e,r,t):
    return q*w*e*r*t
mul(2,5,5,9,7)

3150

In [125]:
#reverse strings
def rev(s):
    
    s1 = ''.join(reversed(s))
    return s1
rev("sajdojdjpd")

'dpjdjodjas'

In [141]:
def fact(n):
    if n==1:
        return n
    elif n<= -1:
        return n
    else:
    
        return n*fact(n-1)
fact(-5)

-5

###  arg and Kargs

In [4]:
def myfun(a,b):
    return sum((a,b))* 0.05

In [5]:
myfun(40,60) #a and b are positonal arugments

5.0

In [8]:
 def myfub(a,b,c=0,d=0):
        return sum((a,b,c,d)) *0.05

In [10]:
myfub(10,10,30,10)

3.0

In [ ]:
# * args treat as tuple

In [12]:
def my (*args):
    return sum((args))
my(50,20,60,54,56)

240

In [14]:
def my (*args):
    return sum((args))
my(50,20,60,54,56)

TypeError: my() takes 0 positional arguments but 5 were given

In [25]:
def myfun(**kargs):# k args is arbbitary choice
    if "fruit" in kargs:
        print('my fruit   choice is {}'.format(kargs['fruit']))
    else:
        print( 'i did not find any fruit')

In [27]:
myfun( veggi= "letuce")

i did not find any fruit

In [24]:
myfun(fruit='apple')

my fruit   choic isapple

In [26]:
myfun(fruit='apple', veggi= "letuce")

my fruit   choice is apple

In [34]:
def fun(*args, **kargs):
    print (args)
    print(kargs)
    print('i would like {} {}'.format(args[0], kargs['food']))

In [35]:
fun(10,10,20,20, fruit= 'orange', food = 'eggs')

(10, 10, 20, 20)
{'fruit': 'orange', 'food': 'eggs'}
i would like 10 eggs

In [ ]:
# if called my func or fun without aruments then it will give an  error

In [40]:
def myfunc(*args):
    result=[]
    
    for i in args:
        if i%2==0:
            result.append(i)
    return result

In [42]:
myfunc(1,2,3,4,5,6,7,8,78)

[2, 4, 6, 8, 78]

In [59]:
def myfunc(words):
    results = ''
    for i in range (len(words)):
        if i %2==0:
            results += words[i].lower()
        else:
            results += words[i].upper()
    return results

In [60]:
myfunc("ojdcoadjadjdoia")

'oJdCoAdJaDjDoIa'

In [ ]:
def myfunc(word):
 
    result = ''
 
    for i in range(len(word)):
 
        if i%2==0:
 
            result += word[i].lower()
 
        else:
 
            result += word[i].upper()
 
    return result

### function practice

In [8]:
def cap(name):
    a= name[0:3].capitalize()
    b= name[3:].capitalize()
    return a+b

In [9]:
cap("macdonald")

'MacDonald'

In [11]:
def mac(name):
    
    first= name[0]
    inbet= name[1:3]
    four=name[3]
    res= name[3:]
    
    return first.upper()+inbet+four.upper()+res

In [12]:
cap("macdonald")

'MacDonald'

In [13]:
def rev(text):
    s= text.split()
    r= s[::-1]
    return r

In [15]:
rev("this is the begin")

['begin', 'the', 'is', 'this']

In [16]:
l= ['a','b','f']

In [18]:
'ooooooo'.join(l)

'aooooooobooooooof'

In [24]:
def  there(n):
    
      return (abs(100-n)<=10 )or (abs(200-n)<=10)

In [26]:
there(250)

False

In [40]:
def  n(nums):
    for i in range(0,len(nums)-1):
        if nums[i] ==3 and nums[i+1]==3:
            return True
    return False

In [41]:
n([2,3,4,4,5,3,3,3,3,3])

True

In [42]:
n([2,3,4,4,5])

False

In [47]:
def n (nums):
    
    for i in nums:
        
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [48]:
n([2,3,4,4,5])

False

In [66]:
def rep(text):
    
    r= ' '
    
    for char in text:
        
        r += char*3
        
    return r

In [67]:
rep('ankit')

' aaannnkkkiiittt'

In [68]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else:
        return "bust"

In [69]:
blackjack(5,7,9)

21

In [71]:
blackjack(5,6,7)

18

In [72]:
blackjack(9,9,11)

19

In [73]:
def sume(nums):
    total = 0 
    add =True
    
    for i in nums:
        while add:
            if i!=6:
                total += i
                break
            else:
                add= True
                
        while not add:
            if i!=9:
                  break
            else:
                add= True
                break
    return total

In [ ]:
sume([2,3,6,9,7,8,8])

###  Lmabda and map function and filter

In [3]:
def sq(num):
    return num**2

In [4]:
n=[1,2,3,4,5]

In [7]:
for i in map(sq, n):
    print (i)

1
4
9
16
25

In [8]:
list(map(sq, n))

[1, 4, 9, 16, 25]

In [ ]:
#an annoymoust function

In [12]:
def spl(string):
    if len(string)%2==0:
        return 'even'
    else:
        return string

In [15]:
n=['andy', 'sandy', 'mandyi']

In [16]:
list(map(spl,n))

['even', 'sandy', 'even']

In [18]:
def check(num):
    return num%2==0

In [20]:
nq= [2,4,5,6,7,89,9,0,6,5,434,4,5]

In [21]:
filter(check, nq)

In [23]:
list(filter(check, nq))

[2, 4, 6, 0, 6, 434, 4]

In [24]:
def sqt(num):
    return num**2

In [28]:
sqt(3)

9

In [31]:
um = lambda num: num**2

In [34]:
um(9)

81

In [38]:
list(filter(lambda num:num%2 ==0, nq)) # even no

[2, 4, 6, 0, 6, 434, 4]

In [39]:
n

['andy', 'sandy', 'mandyi']

In [43]:
list(map(lambda x:x[0],n))

['a', 's', 'm']

In [46]:
list(map(lambda x:x[::-1].upper(),n))

['YDNA', 'YDNAS', 'IYDNAM']

### nested statement and scope

    l= local anyway in d function
    e = enlclosing function (def or lambda)
    g= global named assig in top level of modul file or delclared global in a def within file
    b = built in - open, range, syntax error

In [47]:
lambda num:num**2 ##  local

In [ ]:
 name ' this is a  global string' # global string 
    
def greet(): #enclosing function
        name = 'sammy' 
        
        def hello(): #  local
            print('hello'+name)
            
        hello()#enclosing function

In [ ]:
greet() #lEGB  rule

In [53]:
name = ' this is a  global string' #global string 
    
def greet(): 
    
        #name = 'sammy' ## enclosing function
        
        def hello(): 
            
            #  local
            #name = I am local
            print('hello'+name)
            
        hello() #enclosing function

In [52]:
greet()

hello this is a  global string

In [ ]:
 name = ' this is a  global string' #global string 
    
def greet(): #enclosing function
        #local 
        name = 'sammy' 
        
        def hell   o(): #  local
            print('hello'+name)
            
        hello() #enclosing function

In [54]:
x= 55
def fun(x):
    print(f'X is {x}')

In [55]:
print(x)

55

In [62]:
x= 55
def fun(x):
    print(f'X is {x}')
    
    #local reassignment 
    x= 200
    print(f'I JUST locally CHANGED  X TO {x}')

In [63]:
fun(x)

X is 55
I JUST locally CHANGED  X TO 200

In [69]:
x= 55
def fun():
    global x # do not use this unless you are use to make it in real time 
    print(f'X is {x}')
    #local reassignment  on a global variable
    x= "new value"
    print(f'I JUST locally CHANGED globally X TO {x}')

In [70]:
fun()

X is 55
I JUST locally CHANGED globally X TO new value

In [71]:
print(x)

new value

In [81]:
x= 55
def fun(x):
    
    print(f'X is {x}')
    #local reassignment  on a global variable
    x= "new value"
    print(f'I JUST locally CHANGED globally X TO {x}')
    return x

In [82]:
q= fun(x)

X is 55
I JUST locally CHANGED globally X TO new value

In [83]:
def vol(r):
    return (4/3)* 3.14*r**3

In [84]:
vol(20)

33493.333333333336

In [94]:
def rang(num, low , high):
    if num in range(low, high):
        print('%s is in the range '%str(num))
    else: 
        print('out of range')

In [95]:
rang(10,50,50)

out of range

In [96]:
rang(1,3,10)

out of range

In [97]:
rang(3,1,10)

3 is in the range

In [106]:
def up_low(a):
    d={'upper':0, "lower":0}
    for i in a:
        if i.isupper():
            d['upper'] +=1
        elif i.islower():
            d['lower']+=1
        else:
            pass
    print('original stirng :', a)
    print('no of upper stirng :', d['upper'])
    print('no of lower  stirng :', d['lower'])

In [109]:
up_low('This is just a beginig ans i am sure you will do Good in Life')

original stirng : This is just a beginig ans i am sure you will do Good in Life
no of upper stirng : 3
no of lower  stirng : 44

In [117]:
def unq(n):
    x=[]
    for a in n:
        if a not in x:
            x.append(a)
    return x

In [118]:
unq([2,3,4,4,56,7,8,7,6,5,4,43,])

[2, 3, 4, 56, 7, 8, 6, 5, 43]

###  project
'

In [119]:
player_one = input("please pick 'X or O'")
position = int(input('Please enter a number'))

from IPython.display import clear_output
test_board = []

KeyboardInterrupt: