In [1]:


a= 'bacdefghijklmnopqrst'

### indexing and slicing

In [2]:
a[:] #select all the letters

'bacdefghijklmnopqrst'

In [3]:
a[1:] #select letters from first to last

'acdefghijklmnopqrst'

In [4]:
#immutable
#a[0] = 'a'

In [5]:
#string concatination
a

'bacdefghijklmnopqrst'

In [6]:
b= a + ' hadhaih;o ah;o'
b

'bacdefghijklmnopqrst hadhaih;o ah;o'

In [7]:
b.split()

['bacdefghijklmnopqrst', 'hadhaih;o', 'ah;o']

In [8]:
b.upper()

'BACDEFGHIJKLMNOPQRST HADHAIH;O AH;O'

In [9]:

a[1:] #all the way to end

'acdefghijklmnopqrst'

In [10]:
a[:3] #first three letters

'bac'

In [11]:
#grab middle letter
a[3:6]

'def'

In [12]:
a[1:3]

'ac'

In [13]:
#subsection step size

a[::] #all the way beiging  to end

'bacdefghijklmnopqrst'

In [14]:
#jumps by 2
a[::2]

'bcegikmoqs'

In [15]:
a[::3]

'bdgjmps'

In [16]:
#include middle
a[2:7:2]

'ceg'

In [17]:
a

'bacdefghijklmnopqrst'

In [18]:
a[2::]

'cdefghijklmnopqrst'

In [19]:
a[::-1
 ]

'tsrqponmlkjihgfedcab'

In [20]:
a[:-1]#last letter will not include

'bacdefghijklmnopqrs'

In [21]:
c= ' this is my string and want to inject'

In [22]:
c.split('i') # split by letter i

[' th', 's ', 's my str', 'ng and want to ', 'nject']

In [23]:
#concatination
#.format method
# 'string here{}'.format('something 1', 'something 2')

In [24]:
print('this is a string{}'.format(' Inserted'))

this is a string Inserted

In [25]:
print("{},{},{}".format('fox', 'rox','mox'))

fox,rox,mox

In [26]:
print(" the {0}{0}{0}".format('fox', 'rox','mox'))

 the foxfoxfox

In [27]:
print("the {a} {c} {b}".format(a='fox', b='rox',c='mox'))

the fox mox rox

In [28]:
#repeatation with .format method

In [29]:
r = 1000/7
r

142.85714285714286

In [30]:
print('the result {f:1.2f}'.format(f=r))

the result 142.86

In [31]:
print('the result {f:1.4f}'.format(f=r))
                 # value:width.precision
                #decimal and round of 4 after decimal

the result 142.8571

In [32]:
name = 'ankit'
age = 26

In [33]:
print(f'i am {name} and my age is {age}' )
     # f string interpolation

i am ankit and my age is 26

In [34]:
ls= [1,2,3,4,5,56]
ls

[1, 2, 3, 4, 5, 56]

In [35]:
len(ls)

6

In [36]:
a= ['ank','sank', 'mank']

In [37]:
a

['ank', 'sank', 'mank']

In [38]:
a[1]

'sank'

In [39]:
a[1:]

['sank', 'mank']

In [40]:
b= a[::-1]

In [41]:
a+b

['ank', 'sank', 'mank', 'mank', 'sank', 'ank']

In [42]:
a[0] = 'ankit'

In [43]:
a

['ankit', 'sank', 'mank']

In [44]:
v= a.append('monk') #adding any value with append

In [45]:
v

In [46]:

e= a.pop() #remove last value

In [47]:
e

'monk'

In [48]:
a

['ankit', 'sank', 'mank']

In [49]:
a.pop(2)
#remove the with index

'mank'

In [50]:
a

['ankit', 'sank']

In [51]:
l=['a','b','c','d','e']
l1=[2,2,6,7,8,9,0,1,2,3,4,5,6]

In [52]:
l1.sort()
l1

[0, 1, 2, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9]

In [53]:
type(l1)

list

In [54]:
type(l)

list

In [55]:
l1.reverse() #revers sorting
l1

[9, 8, 7, 6, 6, 5, 4, 3, 2, 2, 2, 1, 0]

### dictionaries are unordered and cannot be sorted
# RETRIVE VALUE WITHOUT ITS  exact indexz location

#list objects retrived by location
ordered sequence

In [56]:
dictn= {'a':1,'b':3,"c":9}

In [57]:
dictn["a"]

1

In [58]:
dictn["c"]

9

In [59]:
dict= {'key':'value' } #are flexible and can contain any value like int float

In [60]:
dictq={'k1':123,'k2':[2,3,4,5],'k3':{'inside key':100}}

In [61]:
dictq["k2"]

[2, 3, 4, 5]

In [62]:
dictq["k3"]

{'inside key': 100}

In [63]:
dictq["k3"]["inside key"]

100

In [64]:
d={'k1':['a','b','c']}

In [65]:
d["k1"][2].upper() #CAN MAKE ANY operation

'C'

In [66]:
d

{'k1': ['a', 'b', 'c']}

In [67]:
d['k1']=[1,3,4,5]

In [68]:
d

{'k1': [1, 3, 4, 5]}

In [69]:
d.values

In [70]:
d['k1']='newvalue'
d

{'k1': 'newvalue'}

In [71]:
d={'k1':['a','b','c']}

In [72]:
d.keys()

dict_keys(['k1'])

In [73]:
d.values()

dict_values([['a', 'b', 'c']])

In [74]:
d.items() #TUPLE

dict_items([('k1', ['a', 'b', 'c'])])

### Dictionaries are mappings and do not retain order! If you do want the capabilities of a dictionary but you would like ordering as well, check out the ordereddict object lecture later on in the course!

### TUPLES
IMMUTABLE

ONCE AN ELEMENT ASSIGN inside tuple, it cannot be reassigned

In [75]:
t=(1,2,3,4)
list=[1,2,34,5]

In [76]:
type(t)

tuple

In [77]:
type(list)

list

In [78]:
t[1]

2

In [79]:
t[-1]

4

In [80]:
t.count('1')

0

In [81]:
t.index(3)

2

In [82]:
list

[1, 2, 34, 5]

In [83]:
list[2]=' new'

In [84]:
list

[1, 2, ' new', 5]

In [85]:
t[0]='new'

TypeError: 'tuple' object does not support item assignment

###  it is useul when you want to make sure the element dont get flipped reassigned later on it

##  sets
unordered colllection of unique elements
one represntative of same object

In [ ]:
mset= set()
mset

In [ ]:
mset.add(45)

In [ ]:
mset.add(145)
mset

In [ ]:
mset.add(45)
mset

In [ ]:
list

In [ ]:
set(list)

In [ ]:
a= [11,4,3,4,54,5,67,78,89,9,4,3,3,3,4,5,66,7]

In [ ]:
set(a) #only unique values

In [ ]:
set('mississippi')

In [ ]:
# true or false statement logic and control flow checking
True
type(True)

In [ ]:
20>50

In [ ]:
1==3

In [ ]:
1==1

In [ ]:
set([1,1,2,3]) #WILL  give output in curvy bracket

###  text file

In [ ]:
%%writefile myfile.txt
hello this is a txt file
this is practice one
# \ n represent new line

In [ ]:
#open file name
myfile = open("myfile.txt") 
myfile

In [ ]:
pwd

In [ ]:
myfile.read() #if press this will this gives you  empty string''

In [ ]:
myfile.seek(0)#to reset cursor

In [ ]:
a= myfile.read()

In [ ]:
a

In [ ]:
myfile.readlines()

In [ ]:
#TO READ FILE FROM OTHER COMPS my = open("c\\users\\")
#  my = open("c/users/home/file.txt)

In [ ]:
myfile.close()

In [ ]:
with open ('myfile.txt') as my_nw_file:
    contents=my_nw_file.read()

In [ ]:
contents

In [ ]:
with open ('myfile.txt' ,mode= 'r') as myfile:
    c= myfile.read()

In [ ]:
c

In [ ]:
with open ('myfile.txt' ,mode= 'w') as myfile:
    c= myfile.read()

In [ ]:
with open ('myfile.txt' ,mode= 'a') as myfile:
    c= myfile.read()

###  mode = 'r' - read only
    mode = 'w' write only (overwrite files or create new
    mode = 'r+' read and writing
    mode = 'a ' append only add on to files
    mode = 'w+' is writing and reading (opverwiting existing  file or creare new file

In [ ]:
%%writefile newfile.txt
one two three
four five
six seven

In [ ]:
with open ("newfile.txt", mode = 'r') as f:
    print(f.read())

In [ ]:
with open("newfile.txt", mode='a') as f:
    f.write('ten fifteen')

In [ ]:
with open ("newfile.txt", mode= 'r') as f:
    print(f.read())

In [ ]:
g= 'helllow'

In [ ]:
g[::-1]

In [ ]:
g[-1]

In [ ]:
g[5]

In [ ]:
[1]*5

In [ ]:
l= [1,2,3,[3,4,7,8, 'hello']]

In [ ]:
l

In [ ]:
l=[1,4,6,8,94,3,5]
sorted(l)

In [ ]:
k= {'k1':{"k2": 'this is wolld '}}

In [ ]:
q= {'k1':[{'new_ky':['this is depp', ['hello']]}]}

In [ ]:
q['k1']

In [ ]:
q['k1'][0]['new_ky'] #in order to get next value you need to piu
#put [0] index

In [ ]:
q['k1'][0]['new_ky'][1][0]

In [ ]:
o= {'k1':[1,2,{'k2':['this is hard',{'tough':[1,2,['hello']]}]}]}

In [ ]:
o

In [ ]:
o['k1']

In [ ]:
o['k1'][2]['k2'][1]['tough'][2][0]

####   we cannot sort dictionaries 
    
    ==  EQUAL
    !=  NOT EQUAL
    >
    <
    >= GREATER THAN EQUAL TO
    <= LESS THAN EQUAL TO

In [ ]:
l1= [1,2,[3,4]]
l2= [1,2,{'k1':4}]

#true or false
l1[2][0] >l2[2]['k1']

In [ ]:
l1[2][1] >= l2[2]['k1']

In [ ]:
l1[2][0] <l2[2]['k1']

In [ ]:
l1[2][0] == l2[2]

In [ ]:
l1[1] >= l2[1]

In [ ]:
l1[2][0] <= l2[0]

### CHANING COMAParisom operator with logical operator

    and
    or
    not

In [ ]:
1<2

In [ ]:
2<3 and 5<6

In [ ]:
2>3 or  5<6 3 # ONE IS TRUE THEN GIVES TRUE

In [ ]:
1==1

### not 1==1 #O OPPOSITE BOOLEAN

In [ ]:
400>500

In [ ]:
not 400>500

### CONTROL FLOW STATEMENT

### IF SOME_CONDITION
        EXECUTE SOME CODE
    ELIF SOME OTHER CONDITION:
        SOMETHING
    ELSE:
        THEN SOMTHING ELESE

In [ ]:
if  True:
    print('its true!')

In [ ]:
if 2>3:
    print ('its not true')

In [ ]:
h= False
if h:
    print('its false')
else:
    print('false')

In [299]:
hungry= True
if hungry == True:
    print('feed me')
else:
    print('Im not hungry')

feed me

In [300]:
hungry= False
if hungry == True:
    print('feed me')
else:
    print('Im not hungry')

Im not hungry

In [ ]:
lo= 'bank'

if lo=='shop':
    print( 'cars shop')
    
else:
    print('its not a car shop')

In [ ]:
lo= 'bank'

if lo=='shop':
    print( 'cars shop')

elif lo == 'bank':
    print('its a bank')
elif lo== 'auto':
    print('its a auto shop')
else:
    print('its not a car shop')

In [ ]:
lo= 'shop'

if lo=='shop':
    print( ' it is a cars shop')

elif lo == 'bank':
    print('its a bank')
elif lo== 'auto':
    print('its a auto shop')
else:
    print('its not a car shop')

In [ ]:
name = 'sam'

if name == 'sam':
    print ('hey its my name')
elif name == 'joy':
    print('its joy')
else:
    print("someone")

In [ ]:
name = 'joy'

if name == 'sam':
    print ('hey its my name')
elif name == 'joy':
    print('its joy')
else:
    print("someone")

### for loops 
 for iterate over the object and we can perform any operation
 strings too
 list is also iterable
 
 my_iterable = [1,2,3]
 
     for item_name in my_iterable:
     print(item_name)

In [ ]:
lst= [1,2,3,4,5,6,7,8,9,10]

In [ ]:
 for num in lst:
        print(num) #num = numbers

In [ ]:
for i in lst:
        print(i)

In [ ]:
for  i in lst:
    print("this is ")

In [ ]:
for num in lst:
    
    if num % 2==0:
        print(num)
    else:
        print(f'odd no: {num}')

In [ ]:
lst_sum = 0
for i in lst:
    lst_sum = lst_sum + i
    
print(lst_sum) # outsside of loop

In [ ]:
lst_sum = 0
for i in lst:
    lst_sum = lst_sum + i
    
    print(lst_sum) # inside of forloop

In [ ]:
# strings are squence  can iteraqte each chars in that string

In [ ]:
mystring = 'hello world'
for i in mystring:
    print(i)

In [ ]:
lst_sum = 0
for _ in mystring:
    
    
    print(mystring)

In [ ]:
#tuple
tup= (1,2,3)
for i in tup:
    print(tup)

In [ ]:
tup= (1,2,3)
for i in tup:
    print(i)

In [ ]:
mylst= [(1,2),(3,4),(5,6),(7,8)]

In [ ]:
len(mylst)

In [ ]:
for i in mylst:
    print(i)

In [ ]:
for (a,b) in mylst:
    print(a)
    print(b) # this is called tuple unpacking of duplicate structure of items

In [ ]:
for a,b in mylst:
    print(a)
    print(b)

In [ ]:
for a,b in mylst:
    print(a)

In [ ]:
# dictionary
d= {'k1':1, 'k2':2,'k3':56}
for i in d:
    print(d)

In [ ]:
for i in d:
    print(i)

In [ ]:
for i in d.items():
    print(i)

In [ ]:
for  key,values in d.items():
    print(values)

In [ ]:
#in very large dictionaries no garanty is that we will get in order or sortred output

### while looop

while some boolean _condition:

    do something

else:
    
    do something

In [ ]:

x= 0 

while x<5:
    print (f' the values is :{x}')
    x= x+1

In [ ]:

x= 0 

while x<5:
    print (f' the values is :{x}')
    x += 1

In [ ]:

x= 0 

while x<5:
    print (f' the values is :{x}')
    x= x+1
    
else: 
    print('the current value less than 5')

In [ ]:
x= 0 

while x< 5:
    print (f' the values is :{x}')
    x= x+1
    
else: 
    print('the current value less than 5')

##  break - current closet enclosing loop

## continue - goes to top of the closet enclosing loop

## pass- does  nothing   at all

In [ ]:
x=[1,2,3]
for i in x:
    # comment

In [ ]:
x=[1,2,3]
for i in x:
    # comment
    pass

print('end of script')

In [ ]:
a= 'sammy'
for letter in a:
    
    print(letter)

In [ ]:
a= 'sammy'
for letter in a:
    if letter == 'a':
        continue
    print(letter)

In [ ]:
v= 'sammy'
for letter in v:
    if letter == 'a':
        break
    print(letter)

In [ ]:
x = 0 
while  x <5:
    print (x)
    x+=1

In [ ]:
x= 0
while x<5:
    
    if x ==3:
        break
    
    print(x)
    x= x+1

###  operators

In [ ]:
for i in range(10): # rnge operator
    print(i)

In [ ]:
for i in range(0,11,2):
    print(i)

In [ ]:
# generator
list(range(0,11,2))

In [ ]:
index_count=0
for i in 'abwfwhf':
    print('at index{} the letter is {}'.format(index_count, i))

    index_count +=1

In [ ]:
index_count=0
word = 'abcdef'

for i in word:
    print(word[index_count])
    index_count+=1

In [ ]:
#enumarate function can it can take in any iterable object and what it does it ist return
index_count=0
word = 'abcdef'

for i in  enumerate(word):
    print(i)

In [ ]:
index_count=0
word = 'abcdef'

for index, i in  enumerate(word):
    print(index)
    print(i)
    print("\n")

In [ ]:
#zip function
myls= [1,2,3,4,5]
m2= ['a','b','c']
zip(myls, m2)

In [ ]:
for i in zip(myls, m2):
    print(i)# the items  pair up  and match together  with tuples too

In [ ]:
#zip function
myls= [1,2,3,4,5]
m2= ['a','b','c']
m3= [500,5,66,69,78,54]
zip(myls, m2,m3)

In [ ]:
for i in zip(myls, m2, m3):
    print(i) # MATCH AND INGORE THE OTHER ITEm

In [ ]:
list(zip(m2,m3))

###  list comprehenstion

In [ ]:
l= 'hello'

In [ ]:
l1=[]

In [ ]:
for i in l:
    l1.append(i)

In [ ]:
l1

In [ ]:
l1= [i for i in l]

In [ ]:
l1

In [ ]:
mylist=  [x for x in 'word']

In [ ]:
mylist

In [ ]:
ls = [num for num in range(0,11)]

In [ ]:
ls

In [ ]:
l2= [num**2 for num in range(0,11)]
l2

In [ ]:
o= [x for x in range(0,11) if x%2==0]
o

In [ ]:
celcius= [0,10,20,35]
fahrenheit= [((9/5)* temp+32) for temp in celcius]
fahrenheit

####  nested loop

In [ ]:
li= []
for i in [1,54,78,9]:
    for y in [2,3,6,9]:
        li.append(i *y)
li

In [ ]:
lo= [x*y for x in [4,6,78] for y in [1,5,6]]
lo

### function
    
    def name_of_function(name):
    
    docstrings explains functions
    print()
    
naame_of_function

output

any

function allows us to create block ofcodes that can eaily executed many times without needing to constantly rewrite the entire code

In [ ]:
def name_function():
    print('hello')
name_function()

In [ ]:
help(name_function)

In [88]:
def name_function():
    '''
    docstrings : information about the function 
    input : name
    output:  hello
    '''
    print("hello")

name_function()
    
#future people need to understand yourfunction thats is why we need docstrings

hello

In [90]:
def say_hello(name):
    print('hello'+ name)
say_hello(' ankit')

hello ankit

In [93]:
def say_hello(name = ' name'): #default one 'name'
    print('hello'+ name)
say_hello()

hello name

In [95]:
def say_hello(name):
    return ('hello'+ name)
say_hello(' ankit')

'hello ankit'

In [97]:
def say_hello(name):
    return ('hello'+ name)
r = say_hello(' sanket')
r

'hello sanket'

In [102]:
def add(n1, n2):
    return n1+n2

In [105]:
a= add(20,30)
a

50

In [108]:
def dog(string):
    if "dog" in string:
        return True
    else:
        return False

dog('dog run away')

True

In [110]:
def dog(string):
    if "dog" in string:
        return True
    else:
        return False

dog('cat run away')

False

In [111]:
def dog(string):
    if "dog" in string.lower():
        return True
    else:
        return False

dog('Dog run away')

True

In [113]:
def dog (string):
    return 'dog' in string.lower()
dog('dog ran')

True

In [116]:
# pig latin

def pig(word):
    first_letter= word[0]
    # chekc if vovel 
    if first_letter in 'aeiou':
        pig_word=  word +'ay'
    else:
        pig_word = word[1:] +first_letter +'ay'
        
    return pig_word
pig('apple')

'appleay'

In [117]:
# pig latin

def pig(word):
    first_letter= word[0]
    # chekc if vovel 
    if first_letter in 'aeiou':
        pig_word=  word +'ay'
    else:
        pig_word = word[1:] +first_letter +'ay'
        
    return pig_word
pig('banana')

'ananabay'

In [121]:
def add(a,b,c,d,e):
    return a+b+c+d+e
add(8,2,3,0,7)

20

In [123]:
#Write a Python function to multiply all the numbers in a list.
def mul(q,w,e,r,t):
    return q*w*e*r*t
mul(2,5,5,9,7)

3150

In [125]:
#reverse strings
def rev(s):
    
    s1 = ''.join(reversed(s))
    return s1
rev("sajdojdjpd")

'dpjdjodjas'

In [141]:
def fact(n):
    if n==1:
        return n
    elif n<= -1:
        return n
    else:
    
        return n*fact(n-1)
fact(-5)

-5

###  arg and Kargs

In [4]:
def myfun(a,b):
    return sum((a,b))* 0.05

In [5]:
myfun(40,60) #a and b are positonal arugments

5.0

In [8]:
 def myfub(a,b,c=0,d=0):
        return sum((a,b,c,d)) *0.05

In [10]:
myfub(10,10,30,10)

3.0

In [ ]:
# * args treat as tuple

In [12]:
def my (*args):
    return sum((args))
my(50,20,60,54,56)

240

In [14]:
def my (*args):
    return sum((args))
my(50,20,60,54,56)

TypeError: my() takes 0 positional arguments but 5 were given

In [25]:
def myfun(**kargs):# k args is arbbitary choice
    if "fruit" in kargs:
        print('my fruit   choice is {}'.format(kargs['fruit']))
    else:
        print( 'i did not find any fruit')

In [27]:
myfun( veggi= "letuce")

i did not find any fruit

In [24]:
myfun(fruit='apple')

my fruit   choic isapple

In [26]:
myfun(fruit='apple', veggi= "letuce")

my fruit   choice is apple

In [34]:
def fun(*args, **kargs):
    print (args)
    print(kargs)
    print('i would like {} {}'.format(args[0], kargs['food']))

In [35]:
fun(10,10,20,20, fruit= 'orange', food = 'eggs')

(10, 10, 20, 20)
{'fruit': 'orange', 'food': 'eggs'}
i would like 10 eggs

In [ ]:
# if called my func or fun without aruments then it will give an  error

In [40]:
def myfunc(*args):
    result=[]
    
    for i in args:
        if i%2==0:
            result.append(i)
    return result

In [42]:
myfunc(1,2,3,4,5,6,7,8,78)

[2, 4, 6, 8, 78]

In [59]:
def myfunc(words):
    results = ''
    for i in range (len(words)):
        if i %2==0:
            results += words[i].lower()
        else:
            results += words[i].upper()
    return results

In [60]:
myfunc("ojdcoadjadjdoia")

'oJdCoAdJaDjDoIa'

In [ ]:
def myfunc(word):
 
    result = ''
 
    for i in range(len(word)):
 
        if i%2==0:
 
            result += word[i].lower()
 
        else:
 
            result += word[i].upper()
 
    return result

### function practice

In [8]:
def cap(name):
    a= name[0:3].capitalize()
    b= name[3:].capitalize()
    return a+b

In [9]:
cap("macdonald")

'MacDonald'

In [11]:
def mac(name):
    
    first= name[0]
    inbet= name[1:3]
    four=name[3]
    res= name[3:]
    
    return first.upper()+inbet+four.upper()+res

In [12]:
cap("macdonald")

'MacDonald'

In [13]:
def rev(text):
    s= text.split()
    r= s[::-1]
    return r

In [15]:
rev("this is the begin")

['begin', 'the', 'is', 'this']

In [16]:
l= ['a','b','f']

In [18]:
'ooooooo'.join(l)

'aooooooobooooooof'

In [24]:
def  there(n):
    
      return (abs(100-n)<=10 )or (abs(200-n)<=10)

In [26]:
there(250)

False

In [40]:
def  n(nums):
    for i in range(0,len(nums)-1):
        if nums[i] ==3 and nums[i+1]==3:
            return True
    return False

In [41]:
n([2,3,4,4,5,3,3,3,3,3])

True

In [42]:
n([2,3,4,4,5])

False

In [47]:
def n (nums):
    
    for i in nums:
        
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [48]:
n([2,3,4,4,5])

False

In [66]:
def rep(text):
    
    r= ' '
    
    for char in text:
        
        r += char*3
        
    return r

In [67]:
rep('ankit')

' aaannnkkkiiittt'

In [68]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else:
        return "bust"

In [69]:
blackjack(5,7,9)

21

In [71]:
blackjack(5,6,7)

18

In [72]:
blackjack(9,9,11)

19

In [73]:
def sume(nums):
    total = 0 
    add =True
    
    for i in nums:
        while add:
            if i!=6:
                total += i
                break
            else:
                add= True
                
        while not add:
            if i!=9:
                  break
            else:
                add= True
                break
    return total

In [ ]:
sume([2,3,6,9,7,8,8])

###  Lmabda and map function and filter

In [3]:
def sq(num):
    return num**2

In [4]:
n=[1,2,3,4,5]

In [7]:
for i in map(sq, n):
    print (i)

1
4
9
16
25

In [8]:
list(map(sq, n))

[1, 4, 9, 16, 25]

In [ ]:
#an annoymoust function

In [12]:
def spl(string):
    if len(string)%2==0:
        return 'even'
    else:
        return string

In [15]:
n=['andy', 'sandy', 'mandyi']

In [16]:
list(map(spl,n))

['even', 'sandy', 'even']

In [18]:
def check(num):
    return num%2==0

In [20]:
nq= [2,4,5,6,7,89,9,0,6,5,434,4,5]

In [21]:
filter(check, nq)

In [23]:
list(filter(check, nq))

[2, 4, 6, 0, 6, 434, 4]

In [24]:
def sqt(num):
    return num**2

In [28]:
sqt(3)

9

In [31]:
um = lambda num: num**2

In [34]:
um(9)

81

In [38]:
list(filter(lambda num:num%2 ==0, nq)) # even no

[2, 4, 6, 0, 6, 434, 4]

In [39]:
n

['andy', 'sandy', 'mandyi']

In [43]:
list(map(lambda x:x[0],n))

['a', 's', 'm']

In [46]:
list(map(lambda x:x[::-1].upper(),n))

['YDNA', 'YDNAS', 'IYDNAM']

### nested statement and scope

    l= local anyway in d function
    e = enlclosing function (def or lambda)
    g= global named assig in top level of modul file or delclared global in a def within file
    b = built in - open, range, syntax error

In [47]:
lambda num:num**2 ##  local

In [ ]:
 name ' this is a  global string' # global string 
    
def greet(): #enclosing function
        name = 'sammy' 
        
        def hello(): #  local
            print('hello'+name)
            
        hello()#enclosing function

In [ ]:
greet() #lEGB  rule

In [53]:
name = ' this is a  global string' #global string 
    
def greet(): 
    
        #name = 'sammy' ## enclosing function
        
        def hello(): 
            
            #  local
            #name = I am local
            print('hello'+name)
            
        hello() #enclosing function

In [52]:
greet()

hello this is a  global string

In [ ]:
 name = ' this is a  global string' #global string 
    
def greet(): #enclosing function
        #local 
        name = 'sammy' 
        
        def hell   o(): #  local
            print('hello'+name)
            
        hello() #enclosing function

In [54]:
x= 55
def fun(x):
    print(f'X is {x}')

In [55]:
print(x)

55

In [62]:
x= 55
def fun(x):
    print(f'X is {x}')
    
    #local reassignment 
    x= 200
    print(f'I JUST locally CHANGED  X TO {x}')

In [63]:
fun(x)

X is 55
I JUST locally CHANGED  X TO 200

In [69]:
x= 55
def fun():
    global x # do not use this unless you are use to make it in real time 
    print(f'X is {x}')
    #local reassignment  on a global variable
    x= "new value"
    print(f'I JUST locally CHANGED globally X TO {x}')

In [70]:
fun()

X is 55
I JUST locally CHANGED globally X TO new value

In [71]:
print(x)

new value

In [81]:
x= 55
def fun(x):
    
    print(f'X is {x}')
    #local reassignment  on a global variable
    x= "new value"
    print(f'I JUST locally CHANGED globally X TO {x}')
    return x

In [82]:
q= fun(x)

X is 55
I JUST locally CHANGED globally X TO new value

In [83]:
def vol(r):
    return (4/3)* 3.14*r**3

In [84]:
vol(20)

33493.333333333336

In [94]:
def rang(num, low , high):
    if num in range(low, high):
        print('%s is in the range '%str(num))
    else: 
        print('out of range')

In [95]:
rang(10,50,50)

out of range

In [96]:
rang(1,3,10)

out of range

In [97]:
rang(3,1,10)

3 is in the range

In [106]:
def up_low(a):
    d={'upper':0, "lower":0}
    for i in a:
        if i.isupper():
            d['upper'] +=1
        elif i.islower():
            d['lower']+=1
        else:
            pass
    print('original stirng :', a)
    print('no of upper stirng :', d['upper'])
    print('no of lower  stirng :', d['lower'])

In [109]:
up_low('This is just a beginig ans i am sure you will do Good in Life')

original stirng : This is just a beginig ans i am sure you will do Good in Life
no of upper stirng : 3
no of lower  stirng : 44

In [117]:
def unq(n):
    x=[]
    for a in n:
        if a not in x:
            x.append(a)
    return x

In [118]:
unq([2,3,4,4,56,7,8,7,6,5,4,43,])

[2, 3, 4, 56, 7, 8, 6, 5, 43]

###  escpe squence 
\' single quote

\" double

\n  new line

\tab

\b back spance

In [5]:
print('Line A\nline  B') # line will be in next line

Line A
line  B

In [7]:
print('line A \t line B') # line will get spaced \tab

line A 	 line B

In [8]:
print ('this is \ backslash')

this is \ backslash

In [ ]:
print ('this is \ backslash')

In [9]:
print(r'line a \n line b ')

line a \n line b

In [10]:
print('\U0001F602') # to print emojee with emojee unicode

😂


// integer division

% module which gives remainder

** exponent

/ simple division

In [14]:
print(round(2*56-658*862/26*98))

-2137781

### precedence rule
# bodmas
 bracket 
 exponent
 
* // / %  then left to right  operation
    
    
   +-  same left to right
   
   
   convert numbers to string is str(3)
   
   user input function 
   
       age = input(" type  your name, age ")
       it will be in always strings
       even no too in input function

In [16]:
_name = 'ankit'
_name

'ankit'

In [21]:
%time

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 14.1 µs

In [22]:
%timeit

In [27]:
a= int(input( ' this is the no 
             '))

 this is the no 13

In [30]:
name , age = 'ankit ', '25'
print ('hellow '+ name , 'age is ' + age)

hellow ankit  age is 25

In [46]:
#formatting with strings

name = 'ankit'
age = 25
print("hello my name is  {} and I\'m {} years old".format(name, age))

hello my name is  ankit and I'm 25 years old

In [47]:
print(f"this is the name of that guy {name} and his age is {age}")
     #f for format

this is the name of that guy ankit and his age is 25

In [4]:
a= int (input('first no'))
b= int (input('2nd no'))
c= int (input('3rd no'))

print(a+b+c/3)

first no3
2nd no6
3rd no5
10.666666666666666

In [7]:
a= int (input('first no'))
b= int (input('2nd no'))
c= int (input('3rd no'))

print(f'the avg of all the no is {a+b+c/3}')

first no5
2nd no6
3rd no6
the avg of all the no is 13.0

In [33]:
#string Index and slicing

a= "indexno"
#  0123456
 #-7 -6-5-4-3-2-1
    
# i  = 0 =  -7
# n  = 1 =-6
#d  = 2 = -5
#e = 3  = -4
#x = 4  = -3
#n = 5  = -2
# o =6  = -1
  
print(a[0]) # index

print(a[0:3]) #[ start argument : end arg]

print(a[0:]) #  start to all the way to end

print(a[:3])

print(a[:])

print(a[:-1])

print(a[0:5:1]) #[ start argument : end arg : step argument]

print(a[::]) #[ start argument : end arg : step argument]


print(a[::-1])

print(a[::3])

print(a[1:3])

print(a[-1::])

print(a[:1:])

print(a[1::])

print(a[1::5])

print(a[::-3])

i
ind
indexno
ind
indexno
indexn
index
indexno
onxedni
ieo
nd
o
i
ndexno
no
oei

In [34]:
print(a[::3])

ieo

In [38]:
print(a[5::-1])

nxedni

In [42]:
print(a[-1::-1])  #print(a[::-1])  same as this

onxedni

In [45]:
u= input('enter your name :')

enter your name :ankit

In [47]:
print( " the reverse of your name is ", u[::-1])

 the reverse of your name is  tikna

In [52]:
print( f" the reverse of your name is {u[::-1]}")

 the reverse of your name is tikna

In [53]:
#strings methods

len(a)

7

In [56]:
a.upper()

'INDEXNO'

In [59]:
a.lower()

'indexno'

In [60]:
a.title()

'Indexno'

In [66]:
a.count("o")

1

In [227]:
name,char=input("Enter your Name and One character comma seperated ").split()
char1=char.lower()
char2=char.upper()
print(len(name))
print(int(name.count(char1))+int(name.count(char2)))

Enter your Name and One character comma seperated ankit t
5
1

In [183]:
name,char=input("Enter your Name and One character comma seperated ").split(",")
char1=char.lower()
char2=char.upper()
print(len(name))
print(int(name.count(char1))+int(name.count(char2)))

#entering  the value like Ankitttt , space ,t
#then values will be 0

# if  ntering  the value like Ankitttt ,without space t
#then  it will give an output is t= 4

Enter your Name and One character comma seperated ankitttt,t
8
4

In [189]:
# with strip method for removing the spaces
name,char=input("Enter your Name and One character comma seperated ").split(",")
char=char.lower()

print(len(name))
print(int(name.count(char))+int(name.count(char.strip().lower())))

name.strip().lower().count(char.strip().lower())

Enter your Name and One character comma seperated itakkdk,i
7
2

1

In [173]:
#strip method

name = '   ankit    ' #  to remove spaces from left is lstrip and r strip for right
dot = '-------------'

print (s)
print(name.lstrip()  + dot)
print(name.rstrip() + dot)
print(name.strip () + dot)

   ankit    -------------
ankit    -------------
   ankit-------------
ankit-------------

In [180]:
# to remove spaces

name = '   ankit    ffff ' #  to remove spaces from left is lstrip and r strip for right
dot = '-------------'


#print(name.strip () + dot)  this will not work
print (name.replace('','') +dot)

   ankit    ffff -------------

In [191]:
# replace and find method

string =' spent several years making no money and simply preparing. I was too dumb at the time to understand that '
string.replace(' ','_')

'_spent_several_years_making_no_money_and_simply_preparing._I_was_too_dumb_at_the_time_to_understand_that_'

In [195]:

string ='spent several years making no money and simply preparing. I was too dumb at the time to understand that '
string.replace('','_')
            # old new

'_s_p_e_n_t_ _s_e_v_e_r_a_l_ _y_e_a_r_s_ _m_a_k_i_n_g_ _n_o_ _m_o_n_e_y_ _a_n_d_ _s_i_m_p_l_y_ _p_r_e_p_a_r_i_n_g_._ _I_ _w_a_s_ _t_o_o_ _d_u_m_b_ _a_t_ _t_h_e_ _t_i_m_e_ _t_o_ _u_n_d_e_r_s_t_a_n_d_ _t_h_a_t_ _'

In [194]:

string ='spent several years making no money and simply preparing. I was too dumb at the time to understand that '
string.replace('.','_')

'spent several years making no money and simply preparing_ I was too dumb at the time to understand that '

In [198]:
string ='spent several years making no money and simply preparing. I was too dumb at the time to understand that '
string.replace(' no',' huge')
            # old new

'spent several years making huge money and simply preparing. I was too dumb at the time to understand that '

In [199]:
s= 'she is the best, she is good teacher'
s.replace(' is',' was')
            # old new

'she was the best, she was good teacher'

In [201]:
s= 'she is the best, she is good teacher'
s.replace(' is',' was', 1)
       # old     new  ,first or which is you want to replace

'she was the best, she is good teacher'

In [203]:
# find method
# it is useful to find the  position of the word or charater 
#in the given string

s.find('is' )

4

In [209]:
s= 'she is the best, she is good teacher'
position1 = s.find('is')
position1

4

In [212]:
s= 'she is the best, she is good teacher'
position2= s.find('is', 5)
position2

21

In [213]:
position2= s.find('is', position1 + 1)
position2

21

In [220]:
#center method

name = 'ankit'
len(name)
print(name.center(9,'*')) #to add star it will check your len of varibale and it should be greater than the   len

**ankit**

In [222]:
name = input('enter your name')
print(name.center(len(name) +8,'*' ))

enter your namesanket
****sanket****

### strings are immutable even if you are changing the string with replace function

Assign any varibale  for calculation like this

    a += 'this is '
    a += 3
    a *= 555
    etx

In [234]:
len(name)
dd= 'anmdkldkdkdk dkdkdkd'
len(dd)

20

In [239]:
# if statement  to check conditions

age = int(input('your age plz :'))

if age >= 14:
    print (' you are eligible for playing')

your age plz :2

In [240]:
#pass statement

# to passs means we dont want to write any statement 
age = int(input('your age plz :'))

if age >= 14:
    pass

your age plz :15

In [241]:
#else statement

age = int(input('your age plz :'))

if age >= 14:
    print('you are eligible')
else:
    
    print('you are not eligible')

your age plz :5
you are not eligible

In [272]:
# no guessing game
import random
no = input('enter your  guess no :  ')
wno = 987654321

if wno == 987654321:
        print (' you won')
else:
      print("try again")

enter your  guess no :  987654321
 you won

In [295]:
# nested if and else statement
no = int(input('enter your  guess no :  '))
wno = 15

if no == wno:
        print (' you won')
else:
    if no < wno:
        print("too low")
    else:
            print("too high")

enter your  guess no :  23
too high

In [306]:
# check two conditions at same time

##   add , or operator

hungry = True # this conditions are true then only will give true if both cases are consider for overall 
nt =False

if hungry == True and nt == False:
    print("m  hungry")
else:
    print('leave')

m  hungry

In [319]:
#vid 49

name = input(' your name please :')
age = int(input( ' mention your age please :'))

if age >= 10 and  (name[0] == 'a' or name[0] == 'A'):
    print (' you can watch movies')
else:
    print('sorry you cannot watch movie')

 your name please :ankit
 mention your age please :25
 you can watch movies

In [332]:
ticket =int(input('how many tickets you wana buy :'))
discount_1 = 5/100
discount_2 = ticket * 8/100


if ticket <= 3:
    print ("no discount")

elif ticket <=5 and ticket >=3:
    print(f" total discount of {ticket *discount_1} %")

elif ticket > 5:
    print(discount_2)
    
else: 
    print( "you got already discount")

how many tickets you wana buy :9
0.72

In [339]:
age= int(input('how many tickets you wana buy :'))

if age >=0  and age  <=3:
    print('your ticket is free')
elif  age >4 and age <= 10:
    print('your ticket cost is 150')
elif age >= 11 and  age  <= 60:
    print('your ticket cost is 250')

else:
    print('your ticket cost is 200')

how many tickets you wana buy :55
your ticket cost is 250

In [349]:
name= 'ankit'

if 'a' in name:
    print("Presnt ")
else:
    print('not present')

Presnt

In [354]:
na = input('enter your name ')
na=''
if na : # true if string is not empty
    
    print("string is not empty")
else:
    print("you didnt type anythin")

enter your name
you didnt type anythin

In [355]:
#while loop 
# agar code ko bar bar use karnar h to while loop best h

In [357]:
 i = 1
    
while  i <=10:
    print(f'hello {i}')
    
    i = i +1

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [360]:
tot= 0 # starting value pr initiate value

i = 1 # to add 

while i <=10:
    tot=tot+ i # tot += i
    i= i+ 1
    print(tot)
    
    
    #total = 0 + i =1
    #i = 2

1
3
6
10
15
21
28
36
45
55

In [375]:
a = int(input('enter natual no :'))
total = 0
i = 1

while i <=a:
    
    total +=  i
    i = i+1
    print (total)

enter natual no :20
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [395]:
n= input('enter the no more than 1 digit :')

## int(n[i]) +

total = 0 #  total input 
i = 0    #  boz  we need to add 0th position convert to int

while i < len(n): # lenght of no 
    
    total +=   int(n[i])
    i = i +1
    
    #   int(n[i]) # jo bhi no hoga us ki i'th position
    # to add this in toal 
    
print(total)

enter the no more than 1 digit :25
7

In [397]:
n = input('enter no :')
total = 0 #sabka total input karenge
i = 0 # int(n[i]) jab taq lenght len(n)
# 1234 lenght = 4 and last index = 3

while i < len(n):
    # to add this in total----int(n [i])= 
    total +=  int(n[i])
    i += 1
print(total) # 5+5+5+5 = 25

enter no :55555
25

### TO COUNT EACH LETTER IN YOUR NAME  

name = input(" enter your name :")

    i= 0 
    while i < len(name):
        i  += 1
        print (f" {name[i]} :{name.count(name[i])} ")

In [414]:
name = input(" enter your name :")

temp = '' # to make sure we are not adding exisiting count

i= 0  # to initate the count of each charas

while i < len(name): # length is imp as we dont know what i/p is
    
    if name[i] not in temp:  # name [index] not in temp string
        
        
        temp = temp + name[i]  #then we can add that string to total
        
        print (f" {name[i]} :{name.count(name[i])} ")
        
    i   = i+ 1 # till upto the last element of string

 enter your name :AANkiit ri jasdj adha
 A :2
 N :1
 k :1
 i :3
 t :1
   :4
 r :1
 j :2
 a :3
 s :1
 d :2
 h :1

In [417]:
#infinte loop
i = 0
while i <=10: # even if while  True: gives ininite loop
    
    print('hello')
    i +=1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [426]:
# for loop we use range function for for

for i in range(10): # 0 to 9
    print(f'hello : {i}')

hello : 0
hello : 1
hello : 2
hello : 3
hello : 4
hello : 5
hello : 6
hello : 7
hello : 8
hello : 9

In [429]:
for i in range(1 ,11): # 0 to 9
    print(f'hello : {i}')
    print('this is new line')

hello : 1
this is new line
hello : 2
this is new line
hello : 3
this is new line
hello : 4
this is new line
hello : 5
this is new line
hello : 6
this is new line
hello : 7
this is new line
hello : 8
this is new line
hello : 9
this is new line
hello : 10
this is new line

In [432]:
total = 0 #to store the input initialize

for i in range(1,11):
    
    
    total += i
    print(total)

1
3
6
10
15
21
28
36
45
55

In [437]:
n= int(input('enter your no : '))
total = 0
for i in range(1, n+1):
    total += i
    print(total)

enter your no : 10
1
3
6
10
15
21
28
36
45
55

# use.

# len()

function to calculate each postion or sum of each position in range

In [444]:
#  n = 1234
# n[0] == 1
# n[1] == 2

#always use len(a)


a= input('enter no ')

total = 0

for i in range (0, len(a)):
    
    total += int(a[i]) # change string into integer
    print(total)

enter no 1134
1
2
5
9

In [454]:

name = input('enter your name :')

temp = ''
i = 1

for i in range(len(name)):
    
    if name[i] not in temp:
        print(f' the count  is {name[i] } : {name.count(name[i])}')
        temp += name[i]

enter your name :Ankit nagdeve sanket
 the count  is A : 1
 the count  is n : 3
 the count  is k : 2
 the count  is i : 1
 the count  is t : 2
 the count  is   : 2
 the count  is a : 2
 the count  is g : 1
 the count  is d : 1
 the count  is e : 3
 the count  is v : 1
 the count  is s : 1

In [456]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [461]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [465]:
for i in  range(1,11):
    if i==5: # 5 will not print if continue 
        
        continue
    print(i) # i = 5 condition will true and it will not print  i= 5
            # excution will start at 6th term

1
2
3
4
6
7
8
9
10

In [8]:
win_no = 40 # if this no guess then 
guess =1  # how many guesse

no= int(input('guess no ')) #input this no 

game_over = False  #which is not 

while not game_over :
    
    if no == win_no:
        
        print(f" you win and at guess {guess} times")
        
        game_over= True
        
    else:
        
        if no< win_no:
            print ('too low')
            guess =+ 1 
            no =int(input('enter your guess no again :'))
            
        else:
            no >win_no
            print('too high')
                
            guess += 1
                
            no =int(input('enter your guess no again :'))

guess no 56
too high
enter your guess no again :46
too high
enter your guess no again :40
 you win and at guess 3 times

In [15]:
 #define game winning no without random no
g = 56
guess= 1
game_over = False
inp = int(input('enter your guess no'))

while not  game_over:
    
    if inp == g:
        print (f'you won  at { guess} times')
       
        game_over = True
         
    else:
        if inp < g:
            print('too low')
            guess  += 1
            inp = int(input('enter your code again'))
            
        else:
            inp > g
            print('too high')
            guess += 1
            inp=int(input("enter your guess again "))

enter your guess no5
too low
enter your code again6
too low
enter your code again68
too high
enter your guess again 50
too low
enter your code again56
you won  at 5 times

### #define game winning no without random no
    g = 56
    guess= 1
    game_over = False

    while True: #infinite loop
    inp = int(input('enter your guess no'))

    if inp == g:
        print (f'you won  at { guess} times')
       
        break
         
    else:
        if inp < g:
            print('too low')
            
            
        else:
            inp > g
            print('too high')
            guess += 1
            
            continue

In [ ]:
#for random no to win the game

In [25]:
 #define game winning no with random no
import random
g = random.randint(1,100) 
guess= 1
game_over = False
inp = int(input('enter your guess no'))

while not  game_over:
    
    if inp == g:
        print (f'you won  at { guess} times')
       
        game_over = True
         
    else:
        if inp < g:
            print('too low')
            guess  += 1
            inp = int(input('enter your code again'))
            
        else:
            inp > g
            print('too high')
            guess += 1
            inp=int(input("enter your guess again "))

enter your guess no56
too high
enter your guess again 50
too high
enter your guess again 40
too high
enter your guess again 30
too low
enter your code again35
too low
enter your code again36
you won  at 6 times

In [28]:
for i in range (1,11,3):
    print (i)

1
4
7
10

In [29]:
for i in range(10,0,-1):
    print (i)# from 10 to 1 decreasing order

10
9
8
7
6
5
4
3
2
1

In [30]:
for i in range (10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [51]:
# for loop and strings

name = input('enter your name :')

for i in name:
    
    print (i)

enter your name :adja fjas
a
d
j
a

f
j
a
s

In [45]:
n = (input('enter name '))
for i in range(len(name)):
    print(name[i])

enter name anmkit nahedeghe
a
n
k
i
t

n
a
g
d
e
v
e

In [49]:
# to add 12345 together using for loop

n = (input('enter no '))
total = 0
for i in  n:
    total = total + int(i)
print(total)

enter no 43444765
37

###  if statement 

     name = 'ankit'
     if name == "ankit":
         print('True)
     ele:
         print( ' you are not ankit')
         
         
     or operator does check check whethere my one of the  condition meeting the input condition or not.
     
     and operator will checkif both conditions are true  overall then only it will give us result

In [72]:
l= [1,2,5,6,6,7,8,5,4,4,5,56,6,6]
for i in l:
    if i%2 ==0:
        print(f'{i} its evn no ')
    else:
        print(f' it is odd {i}')

 it is odd 1
2 its evn no
 it is odd 5
6 its evn no
6 its evn no
 it is odd 7
8 its evn no
 it is odd 5
4 its evn no
4 its evn no
 it is odd 5
56 its evn no
6 its evn no
6 its evn no

In [74]:
su= 0
for i in l:
    su += i
print(su) # total of sum of all the no

121

In [75]:
su= 0
for i in l:
    su += i
    print(su) # total of sum of all the no

1
3
8
14
20
27
35
40
44
48
53
109
115
121

In [80]:
ls = [(1,5),(4,6),(6,7),(6,7)]
for (a,b) in ls:
    
    print(a)
    print(b)

1
5
4
6
6
7
6
7

###  Functions

In [82]:
def ad_two(a,b):
    return a+b
ad_two(5,6)

11

In [83]:
def ad_two(a,b):
    return a+b
total = ad_two(5,6)
print(total)

11

In [89]:
def name (nam):
    return nam[-1]

name("ankit nAGDEDVE")

'E'

In [94]:

def odd_ev(num):
    if num% 2== 0 :
        return 'envn'
    
    return("odd")
odd_ev(55)

'odd'

In [95]:
def is_eve(num):
    if num % 2 == 0:
        return True
    else:
        return False
print(is_eve (9))

False

In [100]:
def is_eve(num):
    
        return  num% 2== 0# true or false
    
is_eve(5)

False

In [108]:
def gr(a,b ):
    if a> b :
        return a
    else:
        return b
num1 = int(input('enter your no'))
num2 = int(input('enter your2nd no'))
ge= gr(num1, num2) 

pr= print(f' the greater no is  {ge}')

enter your no1
enter your2nd no0
 the greater no is  1

In [6]:
def ip(a,b):
    if a>b:
        return a
    else: 
        return b
    
n1= int(input('enter your first no ' ))
n2= int(input('enter your 2nd no '))

store= ip(n1,n2)
print (f' the greter no is {store}')

enter your first no 1
enter your 2nd no 0
 the greter no is 1

In [32]:
def io(a,b,c):
    if a>b and a> c:
        return a
    elif b> a and b> c:
        return b
    
    else: 
        return c
        
    
    
n1= int(input('enter your first no ' ))
n2= int(input('enter your 2nd no '))
n3= int(input('enter your 3rd no '))

store= io(n1,n2,n3)
print (f' the greter no is {store}')

enter your first no 55
enter your 2nd no 5
enter your 3rd no 5
 the greter no is 55

In [44]:
# function inside function
def greatest(a,b):
    if a>b:
        return a
    else: 
        return b


def new(a,b,c):
    bigger= greatest(a,b)
    return greatest(bigger, c)
        #  this ip ko phirse call kar rahe h ip ka pahi la no bigeer me jeyega and dusra function jayega c

In [45]:
new(1,9,8)

9

In [49]:
# function inside function
def greater(a,b):
    if a>b:
        return a
    else: 
        return b
    

def new_greatest(a,b,c):
    
    return greater(greater(a,b),c)
        #  this ip ko phirse call kar rahe h ip ka pahi la no bigeer me jeyega and dusra function jayega c
        #in two line code but keep it simple as previous code
new_greatest(1,9,6)

9

In [57]:
#vid  80

def is_palindome(text):
    if text[::-1] == text:  #reverse string by [::-1]
        return True
    else:
        text[::-1] != text
        return False
    
is_palindome('ankit')

False

In [59]:
def is_palindrome(x):
    return x ==x[::-1] #return will always check conditions 
    #in true or false cases
is_palindrome('ankit')

False

In [1]:
#fibonacci series
#0 and 1 , 1 are fix
#0,1,1,2,5,8,13,21,34

def fibonacci(n):
    a=0      # ye first no h
    b=1      # 2nd no
    
    if n ==1:
        print(a)
    elif n==2:
        print(a,b)
        
    else: #if user passed big no
        
        print(a,b, end = ' ') # end for to print no with space like 1,1,3,5,8
        for i in range(n-2): # n- 2 is for pahile hi hum a and b print kara chuke h        
            c= a+b # first loop value of c is 1,
            a= b   # a= 1, 2
            b= c
        
            print(b, end = ' ')
        
fibonacci(20)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [2]:
#defaul parameter in def function
# default menas def any name (parameter = any value)
# ex def age (hight ,age = 12)
#print (f' the hight is {hight}')
#print (f' the hight is {age}')

def age (hight ,age = 14):
    print (f' the hight is {hight}')
    print (f' the age is {age}')

age(5.7)

 the hight is 5.7
 the age is 14

In [3]:
#we can make default in last parameter only in this case age

#otherwise it will give an error

def age (wt, hight= 'unknown' ,age =  None):
    print (f' the weight is {wt}')
    print (f' the hight is {hight}')
    print (f' the age is {age}')

age(5)

 the weight is 5
 the hight is unknown
 the age is None

In [4]:
#   scope 
# refer to global and local variable

In [5]:
lis= [1,23,4,'five', 'six', None]
lis[3] = 5
print(lis)
lis[1:]

[1, 23, 4, 5, 'six', None]

[23, 4, 5, 'six', None]

In [6]:
lis[1:]= ['six','four']
lis

[1, 'six', 'four']

In [7]:
# in  real problem me we dont know how many items we will put in lis so we use 

#  lis= [ ] empty list
fruit= []
fruit.append('banana')
fruit.append('apple') # last me add hojayega
fruit

#  to add in exising list
fruit.insert(1,'shake') # in second postion in list
fruit

fruit.insert(3,'mango') # in second postion in list
fruit

# concatinate

fruit2 = [ 'grapes', 'pomo']

fruits = fruit + fruit2
fruits

['banana', 'shake', 'apple', 'mango', 'grapes', 'pomo']

In [8]:
# entend method

# to add fruit2 in exisiting string fruit then extend method is useful

fruit.extend(fruit2)
fruit

['banana', 'shake', 'apple', 'mango', 'grapes', 'pomo']

In [9]:
fruits.append(fruit2)
fruits

## list inside list

['banana', 'shake', 'apple', 'mango', 'grapes', 'pomo', ['grapes', 'pomo']]

In [10]:
fruits.pop() # pop(index no)

fruits

['banana', 'shake', 'apple', 'mango', 'grapes', 'pomo']

In [11]:
del fruit[1]
fruit

['banana', 'apple', 'mango', 'grapes', 'pomo']

In [12]:
fruit.remove('banana')
fruit

['apple', 'mango', 'grapes', 'pomo']

In [14]:
fruit.sort()
fruit

['apple', 'grapes', 'mango', 'pomo']

In [17]:
fruit.count('apple')

1

In [20]:
fruit.reverse()
fruit

['apple', 'grapes', 'mango', 'pomo']

In [21]:
# comapring list
print(fruit == fruit2)

False

In [28]:
# convert  string to list
a= "ank,it"
a.split(',')
aa= input('enter no ').split(' ')
print(aa)

enter no ankit na
['ankit', 'na']

In [29]:
#convert list into string
name = input('enter your name  ')
print(','.join(name))

enter your name  ankit nagdeve
a,n,k,i,t, ,n,a,g,d,e,v,e

In [9]:
# list inside list

l = [[1,2,3],[3,4,5],[4,7,8]]
print(l[0][1])
print(l[1][1])
print(l[2][2])
print(l[1][0])
print(l[0][1])
print('******'*10)

for sublist in l:
    for i in sublist:
        print(i)

2
4
8
3
2
************************************************************
1
2
3
3
4
5
4
7
8

In [11]:
l

[[1, 2, 3], [3, 4, 5], [4, 7, 8]]

In [26]:
n = list(range(1,100,2)) # with range function
print(n, end ='')

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [15]:
# print the list with square no

def sq(l):                   # pahile hum define karenge function
    
    s =[] ####              #input hoga empty list as we dont know how many nos are in our lit
    
    for i in l:             # for loop chalange in each length l 
        s.append(i**2)     # hume each no ka sq karna h to humko add karna padega append kar k
    return s ####      

# square k taraf return hoga

n=list(range(1,11)) # input dena h list to list dunction use kaena padega
print(sq(n))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 100th video

In [21]:
def rev(l):
    ret = []
    for i in range(len(l)):
        popped = l.pop()
        ret.append(popped)
    return ret # will return to its empty list

b =[1,2,3,4,5,6,7,8,9]
print(rev(b))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
def  strinG(revers):
    
    empty = []
    
    for i in revers:
        re= i[::-1]
        empty.append(re)
    return empty

word =['abc','def','efg']
print(strinG(word))

['cba', 'fed', 'gfe']

In [34]:
def strin(s):
    
    empt = []
    
    for i in s:
        
        empt.append(i[::-1])
        
    return empt
wrd =['abc','def','efg']
print(strin(wrd))

['cba', 'fed', 'gfe']

In [50]:
def odd_even(o):
        
    odd = []
    even = []
    for i in (o):
        if i %2==0:
            even.append(i)
        else:
            
            odd.append(i)
            
    return odd,even

a =  list(range(1,11))

print(odd_even(a))


print('*'*50)

([1, 3, 5, 7, 9], [2, 4, 6, 8, 10])
**************************************************

In [52]:
def odd_even(o):
        
    odd = []
    even = []
    for i in (o):
        if i %2==0:
            even.append(i)
        else:
            
            odd.append(i)
    output= [odd, even]      
    return output

x =  list(range(11,21))
(odd_even(x))

[[11, 13, 15, 17, 19], [12, 14, 16, 18, 20]]

In [54]:
#logic is need to find the common no in list one and list 2

# need to intialize two parameters in def function

#thn hum for loop lagayenge and in for loop we will check ki
# if list one k no list two me h ki nahi agar nahi h to hum us
# empty list ko append karenge

def common (list1,list2):
    out= []
    
    for i in list1:
        
        if i in list2:
            out.append(i) 
# hamesha jaruri nahi ki else likhe 
# without else we can return function

    return out

common([1,23,4,56,63,3,44],[1,23,44,5,667,878,44])

[1, 23, 44]

In [62]:
f = [1,2,34,5,6,7]
g= [1,2,6,7,9]

se =list(set(f).intersection(g))
se

[1, 2, 6, 7]

In [88]:
# min max function
l1= [65,60,16,60]

def grt(l):
    return max(l) - min(l)
grt(l1)

49

In [93]:
# to count how many list inside list are there 

def  coun(a):
     
    count =0
    
    for i in a:
        
        if type( i) == list:
            
            count+= 1
    return count

mix = [1,2,3, [1,2],["4m6m7m8"]]
print ( coun(mix))

2

###  111 summery

###  l = ('one ', 'two')

# l = ('one ', 'two') ( brackets call tuple)



#

## l= (1,2,3)
    
     no .append() error

    no  insert error
    
    no pop

    no remove
    
# method
     count
     
     len
     
     index
     
     slicing

In [1]:
#tuple with one element
num = (1) #  this is interger
num1= (1,) # ones you put comma , it will create as tuple
print (type(num))
 
print (type(num1))

<class 'int'>
<class 'tuple'>

In [6]:
#  tuple without paranthesis

guitar = 'g1', 'g2', 'g3'
type(guitar)

# tuple unpacking

guitar = ('ankit1', 'sanket2', 'mummy3')  # will assign the each elememt 

g1, g2, g3 = (guitar) # in this manner


print(g1)
print(g2)
print(g3)

ankit1
sanket2
mummy3

In [8]:
#  list inside tuple
fav = ('california', 'tokyo',['mumbai', 'delhi'])
fav[2].pop()
print(fav)

('california', 'tokyo', ['mumbai '])

In [10]:
fav[2].append('peru')
fav

('california', 'tokyo', ['mumbai ', 'peru', 'peru'])

In [ ]:
#function use in tuple 
#  min , max with this tuple option

In [22]:
#  function returning two values
def add(i1 , i2):
    
    addition= i1+i2
    multiple = i1* i2
    return addition,multiple

add(5,6) # this will return to  only one tuple

#  to get separate values of this tuple store in the different varibale

(11, 30)

In [21]:
addd, mult= add(5,6)

print(addd)

print(mult)

11
30

In [24]:
num = tuple(range(1,12)) # simple write tuple to convert list into tuple

print(num)
print('*'*50)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [27]:
num = list(range(1,12)) # simple write tuple to convert list into tuple
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [36]:
num = list(range(1,12)) # simple write tuple to convert list into tuple
num
print(num)

type(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

list

In [35]:
num = str((1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)) # simple write tuple to convert list into tuple
print(num)

type(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

str

In [34]:
num = str([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]) # simple write tuple to convert list into tuple
print(num)

type(num)  # this is also string

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

str

##  tuples are imutable

## tuples are orderd collection

## can store any data type

## you cannot change add or delete values from tuple once it created 

##  but you can add delete data from list inside tuple

# DICTIONARIES

## WHY DOCTIONARY ?  it is   *unorderd* collection of data key value pair 

in real wolrd life data represent karne k lie list kafi nahi h 

ex user name age and fav movies and city

list is not enough

In [40]:
dic = {'age' : 20, 'aage2': 25, 'age3': 6}
dic

{'age': 20, 'aage2': 25, 'age3': 6}

In [42]:
 # 2nd method ye h  to generate dicts
 #  dictionaries me index nahi hota kyu ki ye unorderd data h
    
dictt = dict(name = 'ankit', age = '26')
dictt

# dicts ko acces kar ne k liye hum key ko access karte

{'name': 'ankit', 'age': '26'}

In [46]:
dictt['name']

# in  dictionary we can store any no dicts strings dicts inside dicts

# HUM COMPLEX DATA STORE KAR SAKTE H DICTS M

'ankit'

In [68]:
user=  {
    'name': 'ankit', 
    'age ': 27, 
    'movies': ['harry potter', ' ye jwani'],
    'location': ['mumbai', ' nagpur']}
user

{'name': 'ankit',
 'age ': 27,
 'movies': ['harry potter', ' ye jwani'],
 'location': ['mumbai', ' nagpur']}

In [54]:
user1 = {}
user1['name'] = 'sanket'
user1['age'] = 24
user1

{'name': 'sanket', 'age': 24}

In [65]:
#  keyword and iterations in dictionary

# will check if exist keys are in dictionary or not 

if "name" in user:
    print('yes  name key  is present')
    
print('*' * 50)

#  to chekc values in dictionary
# user.values()

yes  name key  is present
**************************************************
not present

In [70]:
if 27 in user.values():
    print ('present')
else:
    print('not present')

present

In [72]:
 #  LOOPS IN  dicts
for i in user:
    print(i)

print('*'*50)

for i in user.values():
    print(i)

name
age
movies
location
**************************************************
ankit
27
['harry potter', ' ye jwani']
['mumbai', ' nagpur']

In [75]:
u1 = user.values()
print (u1)
print(type(u1))

dict_values(['ankit', 27, ['harry potter', ' ye jwani'], ['mumbai', ' nagpur']])
<class 'dict_values'>

In [76]:
for i in user:
    print(user[i])

# it is same as .values() function

ankit
27
['harry potter', ' ye jwani']
['mumbai', ' nagpur']

In [81]:
 # items method 
 #  agar me loop chalata hu   
i= user.items()
print(i)
print('*'*50)

print(type(i))

 # print in tuple form

dict_items([('name', 'ankit'), ('age ', 27), ('movies', ['harry potter', ' ye jwani']), ('location', ['mumbai', ' nagpur'])])
**************************************************
<class 'dict_items'>

In [82]:
for key, values in user.items():
    print(f'key is {key} and values {values}')
    
# yah pe bhi tuple unpacking ho rahi h

key is name and values ankit
key is age  and values 27
key is movies and values ['harry potter', ' ye jwani']
key is location and values ['mumbai', ' nagpur']

In [95]:
#  add delete in dicts
user1=  {
    'name': 'ankit', 
    'age ': 27, 
    'movies': ['harry potter', ' ye jwani'],
    'location': ['mumbai', ' nagpur'],
    'songs' :["cocka", 'raat bhar']
}
user1.pop('songs') # need to write key inside  pop()

['cocka', 'raat bhar']

###  # jab randomly koi bhi key value delete karna h  to 
#  popitem method

In [104]:
user2=  {
    'name': 'ankit', 
    'age ': 27, 
    'movies': ['harry potter', ' ye jwani'],
    'location': ['mumbai', ' nagpur'],
    'songs' :["cocka", 'raat bhar']}

In [101]:
# jab randomly koi bhi key value delete karna h  to 
#  popitem method

('location', ['mumbai', ' nagpur'])

tuple

In [105]:
store= user2.popitem()
print(store)
type(store)

('songs', ['cocka', 'raat bhar'])

tuple

In [106]:
user2

{'name': 'ankit',
 'age ': 27,
 'movies': ['harry potter', ' ye jwani'],
 'location': ['mumbai', ' nagpur']}

In [107]:
store= user2.popitem()
print(store)
type(store)

('location', ['mumbai', ' nagpur'])

tuple

###  to add values in dictonary

# use .update ( new dict)

In [109]:
info = dict(state = 'maharashtra', hobbies = ' travel')
user2.update (info)
user2

{'name': 'ankit',
 'age ': 27,
 'movies': ['harry potter', ' ye jwani'],
 'state': 'maharashtra',
 'hobbies': ' travel'}

In [111]:
info1 = dict(name = 'ankit nagdeve', hobbies = ' convo')
user2.update (info1)
user2

# agar key name same h alag alag dictonary k to wo name keys
#  alag se add nahi honge 
# exisiting keys me hi add hoga

{'name': 'ankit nagdeve',
 'age ': 27,
 'movies': ['harry potter', ' ye jwani'],
 'state': 'maharashtra',
 'hobbies': ' convo'}

In [113]:
 # from keys method hum dictionary ko create kar ne liye use karte h
    ## d ={'name': 'unknown'
     #  , 'age ': 'unknown'}
    
d = dict.fromkeys(['name', 'age','hight'])
d
#  this is for list

{'name': None, 'age': None, 'hight': None}

In [121]:
d1 = dict.fromkeys('abc',('name', 'age','hight'))
                #  ye  abc alag alag string ban jayegi
    
d1#  this is for list

{'a': ('name', 'age', 'hight'),
 'b': ('name', 'age', 'hight'),
 'c': ('name', 'age', 'hight')}

In [125]:
d2 = dict.fromkeys('abcd',('name', 'age','hight',('loc', 'edu')))
                #  ye  abc alag alag string ban jayegi
    
d2#  this is for list

{'a': ('name', 'age', 'hight', ('loc', 'edu')),
 'b': ('name', 'age', 'hight', ('loc', 'edu')),
 'c': ('name', 'age', 'hight', ('loc', 'edu')),
 'd': ('name', 'age', 'hight', ('loc', 'edu'))}

In [129]:
d3= dict.fromkeys(range(1,11), 'name age hight')
d3

{1: 'name age hight',
 2: 'name age hight',
 3: 'name age hight',
 4: 'name age hight',
 5: 'name age hight',
 6: 'name age hight',
 7: 'name age hight',
 8: 'name age hight',
 9: 'name age hight',
 10: 'name age hight'}

In [134]:
user2

{'name': 'ankit nagdeve',
 'age ': 27,
 'movies': ['harry potter', ' ye jwani'],
 'state': 'maharashtra',
 'hobbies': ' convo'}

In [146]:
d4 = dict.fromkeys(['name','age'], ('unknown'))
d4

{'name': 'unknown', 'age': 'unknown'}

In [157]:
 # get  method to access the dicts
    
print(user2.get('age')) # agAR YE KEYWORD DICTS ME  h nahi to use get function

None

In [158]:
if user2.get('name'):
        print('yes name is in dicts')
else:
    print ('not present') # if None means 
                            # ELSE Means True

yes name is in dicts

In [163]:

user2

{'name': 'ankit nagdeve',
 'age ': 27,
 'movies': ['harry potter', ' ye jwani'],
 'state': 'maharashtra',
 'hobbies': ' convo'}

In [167]:
user4= user2.copy()
user4
print(user4.popitem())
user4

('hobbies', ' convo')

{'name': 'ankit nagdeve',
 'age ': 27,
 'movies': ['harry potter', ' ye jwani'],
 'state': 'maharashtra'}

In [168]:
print(user2== user4) # values  cehck karega

False

In [171]:
print(user2 is user4) #  check karna h to we can use 'is'

False

In [172]:
#  we can use get function if our key is not in dicts
# then we can use user.get('names', 'Not Found this key')
user4.get('fav', 'not found any named key fav')
#  ek dicts me ek hi unique key hogi. do hogi to overwrite hojayegi

'not found any named key fav'

In [174]:
def cube_fin_dict(n):
    
    cube = {}  # empty dict  assign karnege n no dicts k lye
    
    for i in range(1, n+1) :   # range hamesha n-1 taq jati h to hum n+ 1 likhte
                              # taki last no count ho
        
        cube[i] =i**3
    return cube
cube_fin_dict(10)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [179]:
# word counter

def word(s):
    
    char= {}
    
    for  i in s:
        char[i] = s.count(i)
    return char
print(word('ankittttt'))

{'a': 1, 'n': 1, 'k': 1, 'i': 1, 't': 5}

In [206]:
name= input('enter your name ')
age = input('enter your age ')
fav_movies = input('enter your  faivorate separated  by ,  ').split(',')           
song = input('enter your fav songs separated  by commma ' ).split(',')
user = {}
user['name']= name
user['age']= age
user['fav_movies']= fav_movies


user['song']= song

for key, value in user.items(): # with  .items function we weill get each keys and values
    print(f'{key} {value}')

enter your name snfk
enter your age 24
enter your  faivorate separated  by ,  a1,f,r,4,
enter your fav songs separated  by commma a,d,f,g
name snfk
age 24
fav_movies ['a1', 'f', 'r', '4', '']
song ['a', 'd', 'f', 'g']

#     SET 

set me unique items hoti h ek bar me ek hi value print karegi

and unordered collection

so indexing nahi h possible

list h usme items h aur humko duplicate values delete kar ne h 
set use hoga wah

In [210]:
ls= [1,2,34,5,6,7,89,6,5,4,3,2,2,3,4,5]
s1= set(ls) # unique values
s1

{1, 2, 3, 4, 5, 6, 7, 34, 89}

In [212]:
s2= list(s1)
s2

[1, 2, 34, 4, 5, 6, 7, 3, 89]

In [221]:
# add method

s1.add(80) # for set only add () function will apply
s1

{1, 2, 3, 4, 5, 6, 7, 34, 80, 89}

In [222]:
#  remove method
s1.remove(80)
s1

{1, 2, 3, 4, 5, 6, 7, 34, 89}

In [225]:
#  discard method  will not give an error even if you dont have that item in your list

s1.discard(2)
s1

{1, 3, 4, 5, 6, 7, 34, 89}

####  # set me hum list, tuple dicts nahi store kar sakte

numbers store kar sakte strings bhi

s4= {1,1,3,4,5,6 ,[1,2,3]} error dega

s4

In [229]:
s4= {1,1,3,4,5,6 ,' sankit'}
s4

{' sankit', 1, 3, 4, 5, 6}

In [230]:
s1

{1, 3, 4, 5, 6, 7, 34, 89}

In [231]:
s4

{' sankit', 1, 3, 4, 5, 6}

In [232]:
s1.union(s4)

{' sankit', 1, 3, 34, 4, 5, 6, 7, 89}

In [233]:
s1.intersection(s4)

{1, 3, 4, 5, 6}

In [235]:
s1 | s4 # union

{' sankit', 1, 3, 34, 4, 5, 6, 7, 89}

In [237]:
 # INTERSECTIOM 
s1 & s4

{1, 3, 4, 5, 6}

### ` list comprehension`

In [239]:
sq= []
for i in range(1,11):
    sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [241]:
s =  [i **2 for i in range(1,11)]
s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [243]:
negative = []
for i in range(1,11):
    negative.append(-i)
print (negative)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [246]:
n = [-i for i in range(1,11)]
n

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [270]:
names= ['Ankit','Sanket','Mummy', 'papa']
new_list= []
for i in name:
    new_list.append(i[0])
print(new)

['A', 'S', 'M', 'p']

In [272]:
 
N= [i[0] for i in names]
N

['A', 'S', 'M', 'p']

In [275]:
k = [i[::-1] for i in names]
k

['tiknA', 'teknaS', 'ymmuM', 'apap']

In [278]:
def rev (l):
    return [i[::-1] for i in names]

rev(names)

['tiknA', 'teknaS', 'ymmuM', 'apap']

In [ ]:
# list comprehension with if statement

In [282]:
s1= [ i for i in s if i% 2==0]
print (s1)

s2= [ i for i in s if i% 3==0]
s2

[4, 16, 36, 64, 100]

[9, 36, 81]

In [292]:
def  con(c):
            
    return [str(i) for i in c if (type(i)== int or type (i) == float)] 
       
    #  str i is append one
    
print (con(['true', 'false,',[1,3,4],1,2.0,3])) # will give in string format

['1', '2.0', '3']

In [294]:
def  con(d):
            
    return [int(i) for i in d if (type(i)== bool or type (i) == float)] 
       
    #  str i is append one
    
print (con(['true', 'false,',[1,3,4],1,2.0,3])) # will give in string format

[2]

In [297]:
def  con(e):
            
    return [float(i) for i in d if (type(i)== bool  or type (i) == int)] 
       
    #  str i is append one
    
print (con(['true', 'false,',[1,3,4],1,2.0,3])) # will give in string format

[]

In [302]:
# LC with if else
s0= []
s
for i in range(1,11):
    if i %2==0:
        s0.append(i**2)
    else:
        s0.append(-i)
print(s0)

[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

###  in LC jo append karana h wo hum log starting me likhnege  like following  statement even if and else in starting of this and then kon si range me then for i in range (1,11) aise

In [306]:
n1 = [ i **2  if (i%2==0) else (-i) for i in range(1,11)]
n1

[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

In [309]:
# nested list , list k ander list 
exp = [[1,2,3],[2,5,6],[5,4,3]] 

nested_com = [[i for i in exp] for j in range(3)] # for j in wala kitne bar ne bar append karana h wo  
            # [ ye jo append karana h wo]
nested_com

[[[1, 2, 3], [2, 5, 6], [5, 4, 3]],
 [[1, 2, 3], [2, 5, 6], [5, 4, 3]],
 [[1, 2, 3], [2, 5, 6], [5, 4, 3]]]

In [312]:
# nested list , list k ander list 
exp = [[1,2,3],[2,5,6],[5,4,3]] 

nested_com = [[i for i in exp] for j in range(2)] # for j in wala kitne bar ne bar append karana h wo  
            # ye jo append karana h wo
print (nested_com, end = ',')

[[[1, 2, 3], [2, 5, 6], [5, 4, 3]], [[1, 2, 3], [2, 5, 6], [5, 4, 3]]],

In [314]:
n0 = []
for i in range (1,11):
    n0.append([1,2,3])
n0

[[1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3]]

###  dictionary comprehension

In [318]:
sqqq= {f'square of {num} is ': num **2 for num in range(1,10)}
sqqq

{'square of 1 is ': 1,
 'square of 2 is ': 4,
 'square of 3 is ': 9,
 'square of 4 is ': 16,
 'square of 5 is ': 25,
 'square of 6 is ': 36,
 'square of 7 is ': 49,
 'square of 8 is ': 64,
 'square of 9 is ': 81}

In [323]:
for i, j in sqqq.items():
    print(f'{i} : {j}')

square of 1 is  : 1
square of 2 is  : 4
square of 3 is  : 9
square of 4 is  : 16
square of 5 is  : 25
square of 6 is  : 36
square of 7 is  : 49
square of 8 is  : 64
square of 9 is  : 81

In [327]:
string= 'ankeeet'
sf= {char:string.count(char) for  char in string}
sf

{'a': 1, 'n': 1, 'k': 1, 'e': 3, 't': 1}

In [330]:
# dicts comprehension with if and else

odd_even = { i: ('even' if i %2 ==0 else 'odd') for i in range(1,10)}
odd_even

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd'}

In [332]:
odd_even = { i: ('even' if i %2 ==0 else 'odd') for i in range(1,10)}
odd_even

od_ev = {f'the no is :{odd_even}'}
od_ev

{"the no is :{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}"}

In [335]:
for k , v in odd_even.items():
    print(f' no is {k} : {v}')

 no is 1 : odd
 no is 2 : even
 no is 3 : odd
 no is 4 : even
 no is 5 : odd
 no is 6 : even
 no is 7 : odd
 no is 8 : even
 no is 9 : odd

In [344]:
sett = {k**2 for  k in range (1,10)}
sett

{1, 4, 9, 16, 25, 36, 49, 64, 81}

In [346]:
sett2= {name[0] for name in names}
        #same     #same      list or any empty items
sett2

{'A', 'M', 'S', 'p'}

### ` * args or  * operator`

##  * args will convert input into tuple

In [349]:
def ad(*args):
    total = 0
    for i in args:
        total += i
    return total


print(ad(1,2,3,4,5,6,7))

25

In [359]:
def mul(*args):
    total = 1 #  we want to multiply na 
    
    for i in args:
        total = total*i
    return total


print(mul(1,2,4,5))

40

In [365]:
def mul(num ,*args):
    total = 1 #  we want to multiply na 
    
    for i in args:
        total = total*i
    return total


print(mul(1,2,4,))
        # 1 will be tuple

8

In [366]:
def mul(num ,*args): # with normal parameters
    total = 1 #  we want to multiply na 
    
    for i in args:
        total = total*i
    return total


print(mul(2,2,6,))
        # 2 will be tuple and args ka hissa nahi h

12

In [ ]:
def mul(*args): 
    total = 1 #  we want to multiply na 
    
    for i in args:
        total = total*i
    return total


print(mul(2,2,6,))
        # 2 will be tuple and args ka hissa nahi h

In [367]:
def mul(*args): 
    total = 1 #  we want to multiply na 
    
    for i in args:
        total = total*i
    return total


print(mul()) # without pass it will still give output

1

In [ ]:
def mul(num,*args): 
    total = 1 #  we want to multiply na 
    
    for i in args:
        total = total*i
    return total


print(mul()) # without pass it will still give erro r
            # ek pass hi karna hi padega

In [368]:
def mul(num1, num2, *args): 
    total = 1 #  we want to multiply na 
    
    for i in args:
        total = total*i
    return total


print(mul(4,6)) # without pass it will still give erro r
            #  humne args pass nahi kia to return me tuple hi milega
# gives only tuple

1

In [369]:
def mul(num1, num2, *args):  # * args k bad pass karenge to error aayega
    total = 1 #  we want to multiply na 
    
    for i in args:
        total = total*i
    return total


print(mul(4,6,6,5)) # without pass it will still give erro r
            #  humne args pass nahi kia to return me tuple hi milega
# gives only tuple

30

### * args ko as argument kaise use kar sakete h?

function ko jab defind karte h tab us ko bolte h parameter
 
aur jab funciton ko call karte h tab usko kehete h argument

In [371]:
def mult(*args):
    muli = 1 #[1, 3, 4]
    for i in args:
        muli *= i
    return muli
num = [1,3,4]
mult(num) # kyu ki ye list pass ki h aur ye list multiply horahi h 1 se

[1, 3, 4]

In [373]:
def mult(*args):
    muli = 1 #[1, 3, 4]
    for i in args:
        muli *= i
    return muli
num = [1,3,4,5]

mult( *num)  #  tuple unpack horah yah


# kyu ki ye list pass ki h aur ye list multiply horahi h 1 se

60

In [377]:
#  vid 145 
# my solution

def to_power(n ,*nums):
    mul= 1
    for i in nums:
        mul **= i 
    return mul

num1 = [(1,2,3),1,3,4]
to_power(*num1)

1

In [381]:
l =[]
if l:
    print('not empty')
else:
    print('empty')

empty

In [389]:
def to_power(n, * args):
    if args:
        return [i**n for i in args]
    else:
        return ('you didnt pass any args')

nu= [2, 3, 4]
to_power(2)

'you didnt pass any args'

In [390]:
def to_power(n, * args):
    if args:
        return [i**n for i in args]
    else:
        return ('you didnt pass any args')

nu= [2, 3, 4]
to_power(2, *nu) # * nahi likha to will give an error

[4, 9, 16]

In [392]:
def to_power(n, * args):
    if args:
        return [i**n for i in args]
    else:
        return ('you didnt pass any args')

nu= [2, 3, 4]
to_power(2, *[5,6,7,8,9])

[25, 36, 49, 64, 81]

### ** kwargs keyword arugment quargs pronounce

# kw means keyword of like dictionary ki taraf arguments 

# args will take in tuple

In [402]:
def quarg(**kwargs):
    print(kwargs)

quarg(fst_name = 'ankit', kast_name = 'nagdeve')

{'fst_name': 'ankit', 'kast_name': 'nagdeve'}

In [419]:
def q(**kwargs):
    for k, v in kwargs.items():
        print(f'{k} : {v}')

q(fst_name = 'ankit', last_name = 'nagdeve')

fst_name : ankit
last_name : nagdeve

In [426]:
def q1(name, **kwargs): # as a parameter
    for k, v in kwargs.items():
        print(f'{k} : {v}')
q1('ankit',lastname= 'nagdeve', location = 'bangalore')
# print ankit will not happen as it will not keys

lastname : nagdeve
location : bangalore

In [428]:
#   dicts unpacking
d= {'fst_name': 'ankit', 'surname': 'nagdeve'}

quarg(**d) # DOING  unpacking

{'fst_name': 'ankit', 'surname': 'nagdeve'}

###  parameters order in def function
### `def func(name, *args, last_name, **kwargs)` 

if order changed then it will give an error

In [434]:
def func(name, * args, last_name = 'unknown', **kwargs ):
    print(name)
    print(*args)
    print(last_name)
    print(kwargs)
    
func('ankit',[1,2,3],last_name= 'nagdeve', a=2, b=3)
# in this  order only will work else not work

ankit
[1, 2, 3]
nagdeve
{'a': 2, 'b': 3}

In [442]:
def revr(name):
    l= []
    for i in name:
        i[0].upper()
    return l
revr('ankit')

# my answeer

[]

In [454]:
def rv_string(n, **kwargs):  # kwargs kyu reverse string ho bhi sakta nahi bhi
    # kwargs  dicts ki key check karegi
    
    if kwargs.get('reverse_str')== True: 
        # why get kyu ki hum kisi bhi key ko acces kar sakate h
        # title hume first word capital dega as per question
        
        
        return [i[::-1].title() for i in n]
    # return karega ek string ko reverse karenge with loop
        
    else :
        return[i.title() for  i in n]

name=['ankit', 'sanket']
print(rv_string(name ))

['Ankit', 'Sanket']

In [455]:


print(rv_string(name , reverse_str =True))

['Tikna', 'Teknas']

###  Lambda Expression 
function hota h jis ka koi name nahi hota

hum map, reduce, filter k sath use kar sakte

In [457]:
add2= lambda a,b : a+b
add2(3,4)

7

In [459]:
iseven= lambda a: a%2==0
print(iseven(5))
print(iseven(4))

False
True

In [461]:
last_char = lambda s: s[-1]
last_char('ankit')

't'

In [462]:
last_char = lambda s: s[::-1]
last_char('ankit')

'tikna'

In [470]:
def lenn(s):
    return len(s) > 4
lenn('fls')

False

In [464]:
# if else in lambda
lo = lambda a: True if  len(a) > 5 else False
lo('ankitee')

True

In [481]:
 # enumarate function for loop k sath uuse kar te jab hum loop chalate h to hum item ko hi track karte 
    # NA KI ITEM K POSTION KO TRACK KARTE
    # POSTION TRACK WITHOUT ENUMARATE
    
name

['ankit', 'sanket', 'mummy', 'papa']

In [489]:
sure= ['ankit', 'sanket',' anita',' naresh'] 

position= 0
for i in sure:
    print(f'{position}=====> {sure}')
    position +=1

0=====> ['ankit', 'sanket', ' anita', ' naresh']
1=====> ['ankit', 'sanket', ' anita', ' naresh']
2=====> ['ankit', 'sanket', ' anita', ' naresh']
3=====> ['ankit', 'sanket', ' anita', ' naresh']

In [493]:
for i, j in enumerate(sure):
    print(f'{i} th =====> {j}')

0 th =====> ankit
1 th =====> sanket
2 th =====>  anita
3 th =====>  naresh

In [510]:
def position(a,target):
    for pos, name in enumerate(a):
        if name == target:
            return pos
        
    return -1

position(sure, 'ankit')

0

In [511]:

position(sure, 'mummy')

-1

In [514]:
position(sure, 'sanket')

1

In [515]:
#  MAP FUNCTION

s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [516]:
 # SAME OUTPUT WITH MAP FUNCTION
    
def sqr(o):
    return o**2
list(map(sqr, s)) #

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [518]:
# using lambda expression

list(map(lambda a: a**2, s))

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [521]:
# WITH LIST COMPREHENSION

SQR = [i  ** 2 for i in s ]
SQR

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [535]:
c= ['cat ', 'mat', 'sat', 'dog']
lent= map(len,c)

lent
for i in lent: # map function me hum  1 hi bar loop chala sakte  
    print(i) # map ko list m bhi convert kar sakte

4
3
3
3

###  tuple ko hum bar bar iterate kar sakte 
###  but map or filter function ko bar bar iterate nahi kar sakte

In [538]:
def iseven(p):
    return p%2 ==0
no2= [1,23,4,56,7,8,9,9,8,76,5,43,2]

even = filter( iseven, no2) #########

print(even)
for i in even:
    print(i)

<filter object at 0x7f8f10aab828>
4
56
8
8
76
2

In [539]:
def iseven(p):
    return p%2 ==0
no2= [1,23,4,56,7,8,9,9,8,76,5,43,2]

even = filter( lambda a: a%2==0, no2) #########

print(even)
for i in even:
    print(i)

<filter object at 0x7f8f10a93160>
4
56
8
8
76
2

In [542]:
def iseven(p):
    return p%2 ==0
no2= [1,23,4,56,7,8,9,9,8,76,5,43,2]

even = tuple(filter( lambda a: a%2==0, no2)) #########

print(even)
for i in even:
    print(i)
    
for i in even:
    print(i) # bar bar iterate kara sakte

(4, 56, 8, 8, 76, 2)
4
56
8
8
76
2
4
56
8
8
76
2

In [543]:
s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [544]:
an_eve= [i for i in s if i % 2==0]
an_eve

[4, 16, 36, 64, 100]

# `interator VS Iterables`

# nu = [1,2,3,4]  `iterABLES` - tuple or strings

# sq = map(lamda a: a**2, nu)  `iteRATOR`

In [547]:
nu = [1,2,3,4] #  `iterABLES`

sq = map(lambda a: a**2, nu) # `iteRATOR` 

for i in nu:
    print(i)

1
2
3
4

In [546]:

nu = [1,2,3,4] #  `iterABLES`

sq = map(lambda a: a**2, nu) # `iteRATOR` 

for i in sq:
    print(i)

1
4
9
16

In [548]:
s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [549]:
sure

['ankit', 'sanket', ' anita', ' naresh']

In [558]:
a= (zip(s4,sure))
print(a)

[(1, 'ankit'), (3, 'sanket'), (4, ' anita'), (5, ' naresh')]

In [560]:
a= list(zip(s4,sure))
print(a)

# combine karta h choti list me aage kuch nahi h to zip nahi hoga

[(1, 'ankit'), (3, 'sanket'), (4, ' anita'), (5, ' naresh')]

In [564]:
u= list(zip(s4,sure, names))
print(u)

# combine karta h choti list me aage kuch nahi h to zip nahi hoga

[(1, 'ankit', 'Ankit'), (3, 'sanket', 'Sanket'), (4, ' anita', 'Mummy'), (5, ' naresh', 'papa')]

In [565]:
a= dict(zip(name,sure))
print(a)

# combine karta h choti list me aage kuch nahi h to zip nahi hoga

{'ankit': 'ankit', 'sanket': 'sanket', 'mummy': ' anita', 'papa': ' naresh'}

 ## 
 
        a= dict (zip(s4,sure, names ))
        print(a)
       
      error dega as dictionary 

## length alag alag nahi hona chahiye tuples ki

###  * operator with zip function

In [566]:
l8 = [1,3,5,6,6]
l9 = [7,8,9,5,4]

[(1, 'ankit', 'Ankit'),
 (3, 'sanket', 'Sanket'),
 (4, ' anita', 'Mummy'),
 (5, ' naresh', 'papa')]

### revers l8, l9 by zip * operator

vid 160

In [569]:
l10 = [(1,4),(3,8),(5,9),(6,6),(6,4)]
l8, l9=  list(zip(*l10)) # zio iterator h

In [571]:
print(l8)
print(l9)

(1, 3, 5, 6, 6)
(4, 8, 9, 6, 4)